{% extends "layouts/base-dashboard.html" %}
{% load static %}

{% block content %}

<form method="post"
    id="create-article"
    class="max-w-5xl mx-auto my-5 bg-white dark:bg-gray-800 p-5 rounded-xl border border-gray-200 dark:border-gray-700"
>
    <div class="flex items-center justify-between">
        <h2 class="text-2xl font-bold dark:text-white">Opened by to {{ ticket.user.username }}</h2>
    </div>

    {% csrf_token %}
    <div class="grid grid-cols-2 gap-4 py-6">
        
        {% for field in form %}
            <div class="col-span-2">
                <label for="{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
    </div>
    <div class="z-10 flex justify-between items-center gap-4 mb-4">
        <a href="{% url "all_tickets" %}"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5">
            Cancel
        </a>
        <div class="flex items-center">
            <a
                href="{% url "close_ticket" ticket.pk %}"
                class="flex text-white bg-red-700 hover:bg-red-800 hover:text-white focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none items-center justify-center gap-2 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500">
                Close
            </a>
            <button id="publishSubmitButton"
                    type="submit"
                    class="hidden md:flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none items-center justify-center gap-2 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500">
                Comment
            </button>
        </div>
    </div>

    {% if comments %}
    <div class="border-b mb-4"></div>

    {% for comment in comments %}
    <article class="p-6 text-base bg-gray-100 rounded-lg dark:bg-gray-900 mb-3">
        <footer class="flex justify-between items-center mb-2">
            <div class="flex items-center">
                <p class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white font-semibold">
                    {% if comment.user.profile.avatar %}
                    <img class="mr-2 w-6 h-6 rounded-full" src="{{ comment.user.profile.avatar.url }}" alt="{{ comment.user }}">
                    {% else %}
                    <img class="mr-2 w-6 h-6 rounded-full" src="{% static "dist/img/default-user.png" %}" alt="{{ comment.user }}">
                    {% endif %}
                    <span> {% if comment.user.profile.full_name %} {{ comment.user.profile.full_name }} {% else %} {{ comment.user }} {% endif %}</span>
                </p>
                <p class="text-sm text-gray-600 dark:text-gray-400">
                    <time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ comment.created_at }}</time>
                </p>
            </div>
        </footer>
        <span class="text-gray-500 dark:text-white">{{ comment.message.html|safe }}</span>
    </article>
    {% endfor %}
    {% endif %}
    
</form>

{% endblock content %}