{% extends "layouts/base-horizontal.html" %}
{% load static %}

{% block extrahead %}
<meta name="title" content="{{ product.seo_title }}">
<meta name="description" content="{{ product.seo_description }}">
<meta name="keywords" content="{{ product.seo_tags }}">
<link data-rh="true" rel="canonical" href="{{ product.canonical }}"/>

<style>
    .tab-active {
        background-color: #1A56DB; 
        color: white;
    }
    .tab-button {
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        width: 100%;
        display: inline-flex;
        align-items: center;
        text-align: left;
    }

</style>
{% endblock extrahead %}

{% block content %}
<div class="text-center my-16">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl dark:text-white">{{ product.name }}</h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Open-Source Django Starter</p>
    {% comment %} <div class="flex justify-center gap-3 mb-5">
        <a href="{{ product.url_dw }}" target="_blank" class="inline-flex uppercase items-center justify-center px-5 py-3 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
            Download
        </a>
        <a href="{{ product.url_demo }}" target="_blank" class="inline-flex uppercase items-center justify-center px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            Live Demo
        </a>
    </div> {% endcomment %}
    {% comment %} <div class="flex justify-center items-center gap-3">
        <a class="underline" target="_blank" href="{{ product.url_docs }}">Docs</a>
        <span class="block w-1 h-1 bg-black"></span>
        <a class="underline" target="_blank" href="{{ product.url_video }}">Video</a>
    </div>
 {% endcomment %}

    <div class="md:flex">
        <ul class="flex flex-col space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
            <li role="presentation">
                <button class="tab-button tab-active" id="presentation-tab" data-tabs-target="#presentation" type="button" role="tab" aria-controls="presentation" aria-selected="true">
                    Presentation
                </button>
            </li>
            <li role="presentation">
                <button class="tab-button" id="document-tab" data-tabs-target="#document" type="button" role="tab" aria-controls="document" aria-selected="false">
                    Document
                </button>
            </li>
            <li role="presentation">
                <button class="tab-button" id="log-tab" data-tabs-target="#log" type="button" role="tab" aria-controls="log" aria-selected="false">
                    Changelog
                </button>
            </li>
        </ul>
        <div class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full" id="default-styled-tab-content">
            <div class="" id="presentation" role="tabpanel" aria-labelledby="presentation-tab">
                <div id="video-preview-container" class="col-span-2">
                    <iframe id="videoPreview" class="w-full h-80 object-cover rounded-lg mb-3" src="{{ product.url_video }}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="hidden" id="document" role="tabpanel" aria-labelledby="document-tab">
                <div class="my-16">
                    <img class="block w-full md:max-w-[700px] mx-auto rounded-lg" src="/media/product/{{ product.design }}/{{ product.tech1 }}/top.png" alt="">
                </div>
                <h1 class="mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Product Features</h1>
                <div class="">
                    <div class="text-center">{{ product.features.html|safe }}</div>
                </div>
            </div>
            <div class="hidden" id="log" role="tabpanel" aria-labelledby="log-tab">
                <div class="flex justify-center gap-3 mb-5">
                    <a href="{{ product.url_dw }}" target="_blank" class="inline-flex uppercase items-center justify-center px-5 py-3 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                        Download
                    </a>
                    <a href="{{ product.url_demo }}" target="_blank" class="inline-flex uppercase items-center justify-center px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                        Live Demo
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('[data-tabs-target]').forEach(tab => {
        tab.addEventListener('click', () => {
            // Remove active classes from all tabs
            document.querySelectorAll('[data-tabs-target]').forEach(t => {
                t.classList.remove('tab-active');
            });
            
            // Hide all tab panels
            document.querySelectorAll('[role="tabpanel"]').forEach(panel => panel.classList.add('hidden'));
            
            // Add active class to the clicked tab
            tab.classList.add('tab-active');
            
            // Show the targeted tab panel
            const target = document.querySelector(tab.getAttribute('data-tabs-target'));
            target.classList.remove('hidden');
        });
    });

    // Initialize the first tab as active
    document.getElementById('presentation-tab').click();
</script>
{% endblock content %}
