{% extends "layouts/base-horizontal.html" %}
{% load static %}

{% block content %}


<div class="text-center my-16">
    <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl dark:text-white">{{ product.name }}</h1>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Open-Source Django Starter</p>
    <div class="flex justify-center gap-3">
        <a href="#" class="inline-flex uppercase items-center justify-center px-5 py-3 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
            Download
        </a>
        <a href="#" class="inline-flex uppercase items-center justify-center px-5 py-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            Live Demo
        </a>
    </div>

    <div class="my-16">
        <img class="block max-w-[700px] mx-auto rounded-lg" src="/media/product/{{ product.design }}/{{ product.tech1 }}/top.png" alt="">
    </div>

    {% comment %} <div>
        <h1 class="mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">Product Features</h1>
        <div class="grid grid-cols-2 gap-16 my-16">
            <div class="text-left">{{ product.features.html|safe }}</div>
            <div>
                <img class="block w-100 mx-auto rounded-lg" src="/media/product/{{product.design}}/{{product.tech1}}/mobile.png" alt="">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-16 my-16">
            <div>
                <img class="block w-100 mx-auto rounded-lg" src="{% static "dist/img/docs.png" %}" alt="">
            </div>
            <div class="text-left">{{ product.documentation.html|safe }}</div>
        </div>
    </div> {% endcomment %}

    {% comment %} {% include "includes/pricing.html" %} {% endcomment %}
</div>


{% endblock content %}