{% extends "layouts/base-horizontal.html" %}
{% load static %}

{% block content %}


<div class="relative pb-6">
    <div class="my-8">
        <h1 class="text-2xl md:text-3xl font-bold text-gray-800">Products</h1>
        <p class="pt-2 text-gray-600 w-full md:max-w-[50%]">
            Browse products, and pick the ones that help you the most.
        </p>
    </div>
    <div class="grid grid-cols-2 gap-3.5">
        <div class="relative flex items-center rounded-2xl overflow-hidden bg-gray-50 border border-gray-300 text-gray-900 col-span-2">
            <svg class="w-6 h-6 text-gray-800 absolute left-0 top-2/4 -translate-y-2/4 ml-4 pointer-events-none"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
            </svg>
            <form id="search-form"
                  class="w-full"
                  method="get"
                  action="#">
                <input type="text"
                       name="search"
                       value="{{ request.GET.search }}"
                       class="appearance-none bg-inherit !border-0 !outline-none !ring-0 h-full p-0 py-3 pl-12 w-full"
                       placeholder='Search products' />
            </form>
            {% if request.GET.search %}
                <button id="clear-search" class="mr-2">
                    <svg class="w-6 h-6 text-gray-800"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                </button>
            {% endif %}
        </div>
    </div>

    <div class="my-5">
        {% for tech1, products in grouped_products.items %}
            <h2 class="text-2xl font-semibold mb-2"><a href="{% url "admin_dashboard_by_tech1" tech1 %}">{{ tech1|upper }}</a></h2>
            {% if products %}
            <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6 my-8">
                {% for product in products %}
                    <div class="rounded-3xl p-4 md:p-6 border-2">
                        <div class="relative rounded-2xl aspect-[4/3] overflow-hidden">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="/media/product/{{ product.design }}/{{ product.tech1 }}/top.png"
                                    alt="{{ product.name }}"
                                    width="100%"
                                    height="auto"
                                    class="w-full aspect-[4/3] object-cover hover:scale-105 transition-transform duration-150 ease-in-out" 
                                />
                            </a>
                        </div>
                        <div class="pt-3.5">
                            <div class="text-sm flex items-center justify-between text-blue-500">
                                <span>{{ product.release_date|date:"d F Y" }}</span>
                                <span class="font-medium text-gray-800 line-clamp-2 text-sm overflow-hidden">
                                    {% if product.free %} FREE {% else %} ${{ product.price }} {% endif %}
                                </span>
                            </div>
                            <h2 class="font-semibold text-gray-800 line-clamp-2 text-ellipsis overflow-hidden my-3">
                                <a href="{{ product.get_absolute_url }}" class="text-gray-800">{{ product.name }}</a>
                            </h2>
                            <p class="text-sm line-clamp-2 text-ellipsis overflow-hidden mb-3">{{ product.info }}</p>
                            <div class="flex items-center justify-between">
                                <a href="{{ product.get_absolute_url }}" class="text-sm hover:underline">See Product</a>
                                <a href="#" class="text-sm hover:underline">Live DEMO</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="flex items-center justify-center w-full h-64 my-8">
                <p class="text-gray-600">No products found</p>
            </div>
            {% endif %}
        {% endfor %}
    </div>

</div>


{% endblock content %}

{% block extra_js %}

<script src="{% static "dist/js/clear-search.js" %}"></script>

{% endblock extra_js %}