{% extends "layouts/base2.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "dist/jquery.multi-select.css" %}">

    <style>
        .multi-select-button {
            border-radius: 1rem;
            border: none;
        }
    </style>
{% endblock extrastyle %}

{% block content %}

<div class="max-w-screen-xl mx-3 md:mx-auto pt-5 pb-16">
    {% comment %} <div class="grid grid-cols-2 items-start gap-5 mb-24">
        <div class="col-span-1">
            <p class="text-gray-500 text-xl mb-2">Open-Source</p>
            <h2 class="text-gray-900 font-bold text-3xl mb-2">Free Web Applications</h2>
            <p class="text-gray-500 mb-3 w-2/3">Free, high-quality web applications built with Django and Flask, featuring robust authentication, integrated database management, ORM support, a modular codebase, and ready-to-use deployment scripts.</p>
            <div class="relative w-1/2">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                  </svg>                  
                </div>
                <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-9 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" />
            </div>
        </div>
        <div class="col-span-1">
            <img src="{% static "dist/img/preview-product.png" %}" alt="">
        </div>
    </div> {% endcomment %}

    <div class="my-8">
        <h1 class="text-2xl md:text-3xl font-bold text-gray-800">Products</h1>
        <p class="pt-2 text-gray-600 w-full md:max-w-[50%]">
            Browse products, and pick the ones that help you the most.
        </p>
    </div>
    <div class="flex items-center gap-5 mb-10">
        <div class="grid grid-cols-2 gap-3.5 w-full">
            <div class="relative flex items-center rounded-2xl overflow-hidden bg-gray-50 border border-gray-300 text-gray-900 md:col-span-1 col-span-2">
                <svg class="w-6 h-6 text-gray-800 absolute left-0 top-2/4 -translate-y-2/4 ml-4 pointer-events-none"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z" />
                </svg>
                <form id="search-form"
                      class="w-full"
                      method="get"
                      action="#">
                    <input type="text"
                           name="search"
                           value="{{ request.GET.search }}"
                           class="appearance-none bg-inherit !border-0 !outline-none !ring-0 h-full p-0 py-3 pl-12 w-full"
                           placeholder='Search products' />
                </form>
                {% if request.GET.search %}
                    <button id="clear-search" class="mr-2">
                        <svg class="w-6 h-6 text-gray-800"
                                aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                fill="none"
                                viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                        </svg>
                    </button>
                {% endif %}
            </div>
            <form class="md:col-span-1 col-span-2" method="get" actions="">
                <div class="w-full relative flex items-center rounded-2xl bg-gray-50 border border-gray-300 text-gray-900">
                    <select multiple class="appearance-none bg-inherit !border-0 !outline-none !ring-0 h-full p-0 py-3 pl-3 w-full" id="tags">
                        {% for tech1 in combined_choices.tech1 %}
                            <option {% if tech1.value in tag_list %} selected {% endif %} value="{{ tech1.value }}">{{ tech1.label }}</option>
                        {% endfor %}
                        {% for tech2 in combined_choices.tech2 %}
                            <option {% if tech2.value in tag_list %} selected {% endif %} value="{{ tech2.value }}">{{ tech2.label }}</option>
                        {% endfor %}
                        {% for css_system in combined_choices.css_system %}
                            <option {% if css_system.value in tag_list %} selected {% endif %} value="{{ css_system.value }}">{{ css_system.label }}</option>
                        {% endfor %}
                        {% for design_system in combined_choices.design_system %}
                            <option {% if design_system.value in tag_list %} selected {% endif %} value="{{ design_system.value }}">{{ design_system.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="flex items-center">
            <input id="free" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="free" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Free</label>
        </div>
    </div>


    {% include "includes/product-list.html" %}
</div>

{% endblock content %}


{% block extra_js %}

<script src="{% static "dist/js/clear-search.js" %}"></script>
<script src="{% static "dist/js/jquery-2.2.4.min.js" %}"></script>
<script src="{% static "dist/js/jquery.multi-select.min.js" %}"></script>
<script>
    $('#tags').multiSelect({
        'noneText':'Select tags'
    });

    function updateQueryParams() {
        var selectedValues = [];
        $('#tags option:selected').each(function() {
            selectedValues.push($(this).val());
        });

        var queryParams = new URLSearchParams(window.location.search);
        queryParams.delete('tags');

        if (selectedValues.length > 0) {
            var newUrl = '/product/tags/' + selectedValues.join(',') + '/?' + queryParams.toString();
        } else {
            var newUrl = '/product/?' + queryParams.toString();
        }

        window.location.href = newUrl;
    }

    var currentPath = window.location.pathname;
    var tagMatch = currentPath.match(/product\/([^\/]+)\//);

    if (tagMatch) {
        var selectedTags = tagMatch[1].split(',');
        selectedTags.forEach(function(tag) {
            $('#tags option[value="' + tag + '"]').prop('selected', true);
        });
        $('#tags').multiSelect('refresh');
    }

    $('#tags').change(function() {
        updateQueryParams();
    });

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkbox = document.getElementById('free');
        const url = new URL(window.location.href);
        
        // Check if the 'free' parameter is present and set to 'True'
        if (url.searchParams.get('free') === 'True') {
            checkbox.checked = true;
        }
    
        // Add an event listener for when the checkbox is changed
        checkbox.addEventListener('change', function() {
            if (checkbox.checked) {
                url.searchParams.set('free', 'True');
            } else {
                url.searchParams.delete('free');
            }
            window.location.href = url.toString();
        });
    });
</script>

{% endblock extra_js %}