{% extends "layouts/base.html" %}
{% load static get_role %}


{% block content %}

<div class="m-5 px-6 py-8 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-800 rounded-lg overflow-hidden">
    <h2 class="text-2xl font-bold pb-3 dark:text-white pb-6">{{ team.name }}</h2>
    <p class="pb-3 text-gray-600 dark:text-white">{{team.description.html|safe}}</p>

    <div class="relative overflow-x-auto">
        {% if team.members.all %}
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Member</th>
                    <th scope="col" class="px-6 py-3">Role</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team.members.all %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4"> {% if member.full_name %} {{ member.full_name }} {% else %} {{ member.user }} {% endif %} </td>
                        <td class="px-6 py-4"> {{ team|get_role:member }} </td>
                        <td class="px-6 py-4">
                            <a href="{% url "remove_team_member" team.id member.id  %}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="flex items-center justify-center w-full h-64 my-8">
            <p class="text-gray-600">No team member found</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}