DEBUG=True

# Generated with https://www.rapidtables.com/convert/number/hex-to-ascii.html
SECRET_KEY=VALUE_HERE

# LOCAL: http://127.0.0.1:8000/
GITHUB_CLIENT_ID=Ov23ligGdtB4DusGtPjK
GITHUB_SECRET_KEY=696739f71d8ebbbcf2db207a3f507776cf500f5a

# Currently UNUSED
OPENAI_API_KEY=VALUE_HERE

GITHUB_KEY=VALUE_HERE

# App Generator
RENDER_API_KEY=VALUE_HERE
RENDER_OWNER_ID=VALUE_HERE

# DB 
# DB_ENGINE=postgresql
# DB_HOST=appseed-db
# DB_PORT=5432
# DB_USERNAME=
# DB_NAME=
# DB_PASS=

# AI
ANTHROPIC_API_KEY=VALUE_HERE
GROQ_API_KEY=VALUE_HERE

# GUMROAD Local
# Callback: http://127.0.0.1:8000/callback/gumroad
GUMROAD_APP_ID="VALUE_HERE"
GUMROAD_SECRET="VALUE_HERE"
GUMROAD_ACCESS_TOKEN="VALUE_HERE"

EMAIL_HOST=SERVER_HERE
EMAIL_HOST_USER=VALUE_HERE
EMAIL_HOST_PASSWORD=VALUE_HERE
EMAIL_PORT=465
EMAIL_DISPLAY_NAME="VALUE_HERE"
