DEBUG=True

# Generated with https://www.rapidtables.com/convert/number/hex-to-ascii.html
SECRET_KEY=4sadasdas

# LOCAL: http://127.0.0.1:8000/
GITHUB_CLIENT_ID=Ov23ligGdtB4DusGtPjK
GITHUB_SECRET_KEY=696739f71d8ebbbcf2db207a3f507776cf500f5a

# Currently UNUSED
OPENAI_API_KEY=sk-proj-sdsdfsdfsdf

GITHUB_KEY="asdasdas"

# App Generator
RENDER_API_KEY=sdfsdf
RENDER_OWNER_ID=usrsdsdfsd

# DB 
# DB_ENGINE=postgresql
# DB_HOST=appseed-db
# DB_PORT=5432
# DB_USERNAME=
# DB_NAME=
# DB_PASS=

# DB Migration Source
DB_SRC_ENGINE=mysql
DB_SRC_NAME="UPDATE_VALUE" 
DB_SRC_USERNAME="UPDATE_VALUE"
DB_SRC_PASS="UPDATE_VALUE"
DB_SRC_HOST=localhost
DB_SRC_PORT=3306

# DB Migration Destination
DB_DEST_ENGINE=mysql
DB_DEST_NAME="UPDATE_VALUE" 
DB_DEST_USERNAME="UPDATE_VALUE"
DB_DEST_PASS="UPDATE_VALUE"
DB_DEST_HOST=localhost
DB_DEST_PORT=3306

# AI
ANTHROPIC_API_KEY=sk-ant-api03-oAGpp6bOPoZS7P_sdasd

# AppSeed
#EMAIL_HOST=mail.appseed.us
#EMAIL_HOST_USER="support@appseed.us"
#EMAIL_HOST_PASSWORD="Kwl__9974a118"
#EMAIL_PORT=465
#EMAIL_USE_TLS=True
#EMAIL_DISPLAY_NAME="AppSeed Support"

# Not working
#EMAIL_HOST=mail.appseed-srv1.com
#EMAIL_HOST_USER="hello@appseed-srv1.com"
#EMAIL_HOST_PASSWORD="99_x_jrsz_AC1a"
#EMAIL_PORT=465
#EMAIL_USE_TLS=True
#EMAIL_DISPLAY_NAME="AppSeed Support"

# GUMROAD Local
# Callback: http://127.0.0.1:8000/callback/gumroad
GUMROAD_APP_ID="FOqWTqadasd"
GUMROAD_SECRET="asdasd"
GUMROAD_ACCESS_TOKEN="-zCWw3gDnVYaa-asdasdasd"

EMAIL_HOST=mail.appseed.us
EMAIL_HOST_USER=sasdas
EMAIL_HOST_PASSWORD=sadasd
EMAIL_PORT=465
EMAIL_DISPLAY_NAME="AppSeed Support"