{% extends "layouts/base2.html" %}
{% load static %}

{% block messages %}
    {% if messages %}
        <div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 ">
            {% for message in messages %}
            <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                    <span class="sr-only">Check icon</span>
                </div>
                <div class="ms-3 text-sm font-normal">{{message}}</div>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock messages %}

{% block content %}

<section
    class="py-16"
>
    <div class="relative grid grid-cols-2 max-w-screen-xl mx-3 md:mx-auto gap-10 items-center mb-20">
        <div class="col-span-1 w-3/4">
            <div class="flex justify-center flex-col mx-3 md:mx-0">
                <div class="mb-8">
                    <h3 class="text-2xl md:text-3xl text-gray-900 dark:text-white font-bold mb-5">
                        Custom Development
                    </h3>
                    <p class="text-gray-500 dark:text-gray-300">Our team can assist you create custom software solutions, improving existing services, and Going LIVE using Digital Ocean, AWS, or Azure.</p>
                </div>
                <div class="flex items-center justify-between mb-8">
                    <div>
                      <h2 class="text-xl md:text-3xl font-bold text-gray-900 dark:text-white mb-3">100%</h2>
                      <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">Client Satisfaction</p>
                    </div>
                    <div>
                      <h2 class="text-xl md:text-3xl font-bold text-gray-900 dark:text-white mb-3">10+</h2>
                      <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">Years of Experience</p>
                    </div>
                    <div>
                      <h2 class="text-xl md:text-3xl font-bold text-gray-900 dark:text-white mb-3">24/7</h2>
                      <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">Development Support</p>
                    </div>
                </div>
                <div>
                    <a href="#custom-development" class="inline-flex items-center gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 focus:outline-none mb-10">
                        Submit Quotation
                        <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                        </svg>                   
                    </a>
                </div>
            </div>
        </div>
        <div class="col-span-1 flex justify-end">
            <div class="flex items-center relative">
                <img class="z-10 ml-12 w-full" src="{% static "dist/img/code.png" %}" alt="">
                <img class="-ml-28 w-full" src="{% static "dist/img/blue.png" %}" alt="">
            </div>
        </div>
    </div>
    <div class="max-w-screen-xl mx-3 md:mx-auto mb-20">
        <div class="flex items-center justify-center gap-5">
            <img src="{% static "dist/img/partners/google.png" %}" alt="">
            <img src="{% static "dist/img/partners/coinbase.png" %}" alt="">
            <img src="{% static "dist/img/partners/amazon.png" %}" alt="">
            <img src="{% static "dist/img/partners/google.png" %}" alt="">
            <img src="{% static "dist/img/partners/spotify.png" %}" alt="">
        </div>
    </div>
    <div class="max-w-screen-xl mx-3 md:mx-auto mb-32">
        <h5 class="text-gray-900 dark:text-white text-center font-bold text-xl md:text-3xl mb-3">
            Let`s just do this. Together.
        </h5>
        <p class="text-gray-500 dark:text-gray-300 text-center font-normal text-sm md:text-base mb-16">
            We can assist Companies, StartUPs, and Solo-Developers on their digital journey.    
        </p>

        <div class="flex justify-center items-center gap-10">
            <div>
                <div class="bg-green-100 rounded-full p-2 inline-block mb-4">
                    <svg class="w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                    </svg>
                </div>
                <h5 class="text-gray-900 dark:text-white font-bold text-xl mb-3">Custom Software Solutions</h5>
                <p class="text-gray-500 dark:text-gray-400 font-normal text-sm md:text-base">Tailored software built to meet your specific business needs.</p>
            </div>
            <div>
                <div class="bg-green-100 rounded-full p-2 inline-block mb-4">
                    <svg class="w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                    </svg>
                </div>
                <h5 class="text-gray-900 dark:text-white font-bold text-xl mb-3">Service Optimization</h5>
                <p class="text-gray-500 dark:text-gray-400 font-normal text-sm md:text-base">Enhance and improve your existing digital services for better performance.</p>
            </div>
            <div>
                <div class="bg-green-100 rounded-full p-2 inline-block mb-4">
                    <svg class="w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                    </svg>
                </div>
                <h5 class="text-gray-900 dark:text-white font-bold text-xl mb-3">Seamless Deployment</h5>
                <p class="text-gray-500 dark:text-gray-400 font-normal text-sm md:text-base">Go LIVE smoothly on Digital Ocean, AWS, or Azure with expert support.</p>
            </div>
        </div>
    </div>
    <div id="custom-development" class="max-w-screen-xl mx-3 md:mx-auto mb-28">
        <h5 class="text-gray-900 dark:text-white text-center font-bold text-xl md:text-3xl mb-2">Unlock Your Business Potential</h5>
        <h5 class="text-gray-900 dark:text-white text-center font-bold text-xl md:text-3xl mb-3">and start fast</h5>
        <p class="text-gray-500 dark:text-gray-400 text-center font-normal text-sm md:text-base">Let us know your requirements, and we'll craft the perfect solution to meet</p>
        <p class="text-gray-500 dark:text-gray-400 text-center font-normal text-sm md:text-base mb-16">your business needs.</p>

        <form method="post" class="max-w-4xl mx-auto border border-gray-200 rounded-md shadow-md p-8">
            {% csrf_token %}

            <div class="mb-5">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Project Type</label>
                <p class="text-gray-500 dark:text-gray-400 text-sm mb-3">We’ll never share your details.</p>
                <div class="flex gap-10 items-center">
                    {% for value, label in project_types %}
                    <div class="flex items-start gap-3 mb-4">
                        <div>
                            <input id="{{ value }}" type="radio" value="{{ value }}" name="project_type" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        </div>
                        <div>
                            <label for="{{ value }}" class="text-sm font-medium text-gray-900 dark:text-gray-300">{{ label }}</label>
                            <p class="text-gray-500 text-xs">Some helper text here</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-5">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Budget Range</label>
                <p class="text-gray-500 dark:text-gray-400 text-sm mb-3">We’ll never share your details.</p>
                <div class="flex gap-24 items-center">
                    {% for value, label in budget_range %}
                    <div class="flex items-start gap-3 mb-4">
                        <input id="{{ value }}" type="radio" value="{{ value }}" name="budget_range" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="{{ value }}" class="text-sm font-medium text-gray-900 dark:text-gray-300">{{ label }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="mb-5 flex justify-between gap-5 items-center">
                <div class="w-full">
                    <label for="name" class="text-sm font-medium text-gray-900 dark:text-gray-300 mb-2 block">Name</label>
                    <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Name" required="">
                </div>
                <div class="w-full">
                    <label for="company_name" class="text-sm font-medium text-gray-900 dark:text-gray-300 mb-2 block">Company Name</label>
                    <input type="text" name="company_name" id="company_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Company Name" required="">
                </div>
                <div class="w-full">
                    <label for="email" class="text-sm font-medium text-gray-900 dark:text-gray-300 mb-2 block">Email Address</label>
                    <input type="email" readonly name="email" value="{{ request.user.email }}" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Email address" required="">
                </div>
            </div>
            <div class="mb-5">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Project Description</label>
                <textarea id="description" name="description" rows="10" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Please provide a brief overview of your project or specific requirements."></textarea>                    
            </div>
            <div class="mb-5">
                <p class="text-gray-500 dark:text-gray-400 text-sm">
                    By completing this form, you consent to our Terms & Conditions and Privacy Policy, which detail how your personal information may be collected, used, and shared with third parties.
                </p>
            </div>
            {% if request.user.is_authenticated %}
                <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Submit
                    <svg class="w-5 h-5 text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                    </svg>                  
                </button>
            {% else %}
                <a href="{% url 'signin' %}" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    SignIN
                    <svg class="w-5 h-5 text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                    </svg>                  
                </a>
            {% endif %}
        </form>
    </div>
    
</section>

{% endblock content %}
