{% extends "layouts/base-horizontal.html" %}
{% load static %}

{% block content %}

<section class="bg-white dark:bg-gray-900">
    <div class="grid py-8 px-4 mx-auto max-w-screen-xl lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class="place-self-center mr-auto lg:col-span-7">
            <h1 class="mb-4 max-w-2xl text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
                AppSeed
            </h1>
            <p class="mb-6 max-w-2xl font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">

                <u><strong><a target="_blank" href="https://github.com/app-generator/appseed-v2">Open-Source Generator</a></strong></u> (different languages), AI Tools,  
                Software Auto-Healing, Dynamic Services, Deployment Automation and Custom Development Services.

            </p>
            <br />
            <p>
                <a href="{% url "signin" %}"
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                    One-Click SignIN
                </a>  
                <span>  
                    &nbsp;&nbsp;&nbsp; Join <u><a target="_blank" href="https://discord.gg/fZC6hup">Discord</a></u> (3k+ Members)
                </span>
            </p>
            <br /><br />
            <p class="mb-6">
                Chat with the <u><a href="{% url 'support' %}">Support</a></u> team 
                or ask for a 
                <u><a href="{% url 'custom_development' %}">Custom Development</a></u> quotation.
            </p>
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
        </div>
    </div>
    <h3 class="mb-4">
        Nowadays, everything starts with a prompt. Try interacting with <u><a href="/">AppSeed</a></u> using this terminal.
    </h3>
    <div class="" id="terminal">
        <div class="w-full bg-black rounded-md py-2 h-64 overflow-x-auto">
            <div class="termino-console text-white px-3"> <span class="block mb-3">Type "help" to start a chat or type "dashboard"</span></div>
            <textarea autofocus class="termino-input w-full bg-black text-white dark:text-white resize-none border-transparent focus:border-transparent focus:ring-0" rows="1" wrap="hard"></textarea>
        </div>
    </div>
    <div id="product-container" class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6 my-8">
    </div>
    

</section>

{% endblock content %}

{% block extra_js %}

<script type="module">
    import { Termino } from 'https://cdn.jsdelivr.net/gh/MarketingPipeline/Termino.js@v1.0.0/dist/termino.min.js';

    let term2 = Termino(document.getElementById("terminal"));

    function show_products(products) {
        try {
            const container = document.getElementById("product-container");
            container.innerHTML = "";
    
            if (products && products.length > 0) {
                term2.output("Products rendered successfully!");
                products.forEach(product => {
                    const productCard = document.createElement("div");
                    productCard.className = "rounded-3xl p-4 md:p-6 border-2";
    
                    const productImage = `
                        <div class="relative rounded-2xl aspect-[4/3] overflow-hidden">
                            <a target="_blank" href="/product/${product.design}/${product.tech1}/">
                                <img src="media/product/${product.design}/${product.tech1}/top.png" alt="${product.name}" width="100%" height="auto" class="w-full aspect-[4/3] object-cover hover:scale-105 transition-transform duration-150 ease-in-out" />
                            </a>
                        </div>
                    `;
    
                    const formattedDate = new Date(product.release_date).toLocaleDateString('en-US', {
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric'
                    });
    
                    const productHTML = `
                        ${productImage}
                        <div class="pt-3.5">
                            <div class="text-sm flex items-center justify-between text-blue-500">
                                <span>${formattedDate}</span>
                                <span class="font-medium text-gray-800 line-clamp-2 text-sm overflow-hidden">
                                    ${product.free ? 'FREE' : '$' + product.price}
                                </span>
                            </div>
                            <h2 class="font-semibold text-gray-800 line-clamp-2 text-ellipsis overflow-hidden my-3">
                                <a target="_blank" href="/product/${product.design}/${product.tech1}/" class="text-gray-800">${product.name}</a>
                            </h2>
                            <p class="text-sm line-clamp-2 text-ellipsis overflow-hidden mb-3">${product.info}</p>
                            <div class="flex items-center justify-between">
                                <a target="_blank" href="/product/${product.design}/${product.tech1}/" class="text-sm hover:underline">Read more</a>
                            </div>
                        </div>
                    `;
    
                    productCard.innerHTML = productHTML;
                    container.appendChild(productCard);
                });
            } else {
                term2.output("No products found.");
            }
        } catch (error) {
            term2.output(`Error: ${error.message}`);
        }
    }

    async function basicTerminalApp() {
        let term2value = await term2.input('');
        term2value = term2value.trim();

        const response = await fetch('/api/chat/', {
            method: "POST",
            headers: {
                'content-type': 'application/json',
            },
            body: JSON.stringify({
                prompt: term2value,
            })
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();

        if (data.type === 'products') {
            show_products(data.response)
        } else {
            term2.output(data.response);
        }

        basicTerminalApp();
    }

    basicTerminalApp();
</script>




{% endblock extra_js %}