{% extends "layouts/base2.html" %}
{% load static %}

{% block messages %}
    {% if messages %}
        <div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 ">
            {% for message in messages %}
            <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                    <span class="sr-only">Check icon</span>
                </div>
                <div class="ms-3 text-sm font-normal">{{message}}</div>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock messages %}

{% block content %}

<section
    style="background-image: url('{% static "dist/img/worldmap.png" %}');"
    class="relative grid grid-cols-2 max-w-screen-xl mx-3 md:mx-auto gap-10 items-center py-16 md:py-32"
>   
    <div class="col-span-2 md:col-span-1 w-full md:w-3/4">
        <div class="flex justify-center flex-col mx-3 md:mx-0">
            <div class="mb-8">
                <p class="text-gray-500 dark:text-gray-300 text-xl mb-5">Support</p>
                <h3 class="text-2xl md:text-3xl text-gray-900 dark:text-white font-extrabold	mb-5">
                    Get support, share ideas, and be part of a thriving community!
                </h3>
                <p class="text-gray-500 dark:text-white">Connect with our team and join over 3.5k happy members on Discord.</p>
            </div>
            <div class="flex items-center gap-5 mb-8">
                <div class="flex">
                    <img class="w-8 h-8 rounded-full border border-gray-600" src="https://avatars.githubusercontent.com/u/60774041?s=64&v=4" alt="">
                    <img class="w-8 h-8 rounded-full border border-gray-600 -ml-2" src="https://avatars.githubusercontent.com/u/15070585?s=64&v=4" alt="">
                    <img class="w-8 h-8 rounded-full border border-gray-600 -ml-2" src="https://avatars.githubusercontent.com/u/101915710?s=64&v=4" alt="">
                    <img class="w-8 h-8 rounded-full border border-gray-600 -ml-2" src="https://avatars.githubusercontent.com/u/32314456?s=64&v=4" alt="">
                </div>
                <div class="w-0.5 h-8 bg-gray-300"></div>
                <div class="text-gray-500 dark:text-white">
                    <p class="text-sm">Over <span class="font-bold text-gray-900 dark:text-white">3k+</span> Happy Members</p>
                </div>
            </div>
            <div>
                <a href="https://discord.gg/fZC6hup" target="_blank" class="inline-flex items-center gap-2 text-white hover:text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 focus:outline-none mb-10">
                    Join Discord
                    <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M18.942 5.556a16.3 16.3 0 0 0-4.126-1.3 12.04 12.04 0 0 0-.529 1.1 15.175 15.175 0 0 0-4.573 0 11.586 11.586 0 0 0-.535-1.1 16.274 16.274 0 0 0-4.129 1.3 17.392 17.392 0 0 0-2.868 11.662 15.785 15.785 0 0 0 4.963 2.521c.41-.564.773-1.16 1.084-1.785a10.638 10.638 0 0 1-1.706-.83c.143-.106.283-.217.418-.331a11.664 11.664 0 0 0 10.118 0c.137.114.277.225.418.331-.544.328-1.116.606-1.71.832a12.58 12.58 0 0 0 1.084 1.785 16.46 16.46 0 0 0 5.064-2.595 17.286 17.286 0 0 0-2.973-11.59ZM8.678 14.813a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.918 1.918 0 0 1 1.8 2.047 1.929 1.929 0 0 1-1.8 2.045Zm6.644 0a1.94 1.94 0 0 1-1.8-2.045 1.93 1.93 0 0 1 1.8-2.047 1.919 1.919 0 0 1 1.8 2.047 1.93 1.93 0 0 1-1.8 2.045Z"/>
                    </svg>                      
                </a>
            </div>
        </div>
    </div>
    <div class="col-span-2 md:col-span-1">
        <form method="post" class="p-8 shadow-md bg-white dark:bg-gray-800 rounded-md">
            {% csrf_token %}

            <div class="grid gap-4 mb-4 grid-cols-2">
                <div class="col-span-2 sm:col-span-1">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    {% if request.user.profile.full_name %}
                    <input type="text" {% if request.user.is_authenticated %}readonly{% endif %} value="{{ request.user.profile.full_name }}" id="name" 
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Name" required="">
                    {% else %}
                    <input type="text" id="name" 
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Name" required="">
                    {% endif %}       
                </div>
                <div class="col-span-2 sm:col-span-1">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email Address</label>
                    {% if request.user.profile.email %}
                    <input type="email" {% if request.user.is_authenticated %}readonly{% endif %} id="email" value="{{ request.user.profile.email }}" 
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Email address" required="">
                    {% else %}
                    <input type="email" id="email" 
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Email address" required="">
                    {% endif %}                            
                </div>
                <div class="col-span-2">
                    <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subject</label>
                    <input type="text" name="title" id="subject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Subject" required="">
                </div>
                <div class="col-span-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your message</label>
                    {{ form.description }}
                </div>
                <div class="col-span-2">
                    <p class="text-gray-500 dark:text-gray-300 text-sm">By completing this form, you consent to our Terms & Conditions and Privacy Policy, which detail how your personal information may be collected, used, and shared with third parties.</p>
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Send Message
                <svg class="w-5 h-5 text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                </svg>                  
            </button>
            {% else %}
            <a href="{% url "signin" %}" class="text-white hover:text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Sign In             
            </a>
            {% endif %}
        </form>
    </div>
</section>

{% endblock content %}
