{% extends "layouts/base.html" %}
{% load static %}

{% block extrastyle %}

<style>
    .flex.active {
        background-color: #f0f0f0;
        font-weight: bold;
    }
    .dark .flex.active {
        background-color: rgb(55 65 81);
    }
</style>

{% endblock extrastyle %}

{% block content %}

<section class="py-16">
    <div class="text-center mb-16">
        <p class="text-gray-500 dark:text-gray-300 font-lg mb-3">
            Last Modified: Nov 21 2024
        </p>
        <h1 class="text-gray-900 dark:text-white text-3xl font-bold">Pricing and Service Terms</h1>
    </div>
    <div class="grid grid-cols-8 gap-10">
        <div class="col-span-2 border border-gray-200 rounded-lg self-start sticky top-8 overflow-hidden">
            <div data-target="general-terms" class="active flex items-center gap-2 px-2 py-3 border-b border-gray-200">
                <svg class="w-6 h-6 text-gray-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7Z" clip-rule="evenodd"/>
                </svg> 
                <p class="text-gray-900 dark:text-white font-medium">General Terms</p>                 
            </div>
            {% if not request.user.is_authenticated %}
            <!--
            <div data-target="registered-users" class="flex items-center gap-2 px-2 py-3 border-b border-gray-200">
                <svg class="w-6 h-6 text-gray-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4H6Zm7.25-2.095c.478-.86.75-1.85.75-2.905a5.973 5.973 0 0 0-.75-2.906 4 4 0 1 1 0 5.811ZM15.466 20c.34-.588.535-1.271.535-2v-1a5.978 5.978 0 0 0-1.528-4H18a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2h-4.535Z" clip-rule="evenodd"/>
                </svg>                  
                <p class="text-gray-900 dark:text-white font-medium">Registered Users</p>                 
            </div>
            -->
            {% endif %}           
            <div data-target="pro-subscription" class="flex items-center gap-2 px-2 py-3 border-b border-gray-200">
                <svg class="w-6 h-6 text-gray-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                </svg>                  
                <p class="text-gray-900 dark:text-white font-medium">Pro Subscription</p>                 
            </div>
            <div data-target="company-subscription" class="flex items-center gap-2 px-2 py-3 border-b border-gray-200">
                <svg class="w-6 h-6 text-gray-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                </svg>                  
                <p class="text-gray-900 dark:text-white font-medium">Company Subscription</p>                 
            </div>
            <div data-target="onboarding-kit" class="flex items-center gap-2 px-2 py-3 border-b border-gray-200">
                <svg class="w-6 h-6 text-gray-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                </svg>                  
                <p class="text-gray-900 dark:text-white font-medium">Onboarding Kit</p>                 
            </div>                        
            <div data-target="custom-development" class="flex items-center gap-2 px-2 py-3 border-b border-gray-200">
                <svg class="w-6 h-6 text-gray-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14"/>
                </svg>                  
                <p class="text-gray-900 dark:text-white font-medium">Custom Development</p>                 
            </div>
            <div data-target="license" class="flex items-center gap-2 px-2 py-3">
                <svg class="w-6 h-6 text-gray-300 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z" clip-rule="evenodd"/>
                </svg>                  
                <p class="text-gray-900 dark:text-white font-medium">License</p>                 
            </div>
        </div>
        <div class="col-span-6">

            <div id="general-terms" class="mb-5">
                <h4 class="text-gray-900 dark:text-white text-xl mb-3">
                    Welcome to <a href="/">App-Generator</a> Service
                </h4>
                <p class="text-gray-500 dark:text-gray-300">
                    These terms and conditions outline the rules and regulations for using the App-Generator's Website, which can be found here.  
                    <strong>By accessing this website we assume you accept these terms and conditions.</strong>
                    <br />
                    <br />
                    Do not continue to <strong>App-Generator</strong> you do not agree to take all of the terms and conditions stated on this page.
                </p>
            </div>

            <!-- Registered Users Benefits -->
            {% if not request.user.is_authenticated %}
            <!--
            <div id="registered-users" class="mb-5 border border-gray-200 p-5 rounded-lg flex items-center gap-16">

                <div class="basis-3/5">
                    <h4 class="text-gray-900 dark:text-white font-bold text-xl mb-3">
                        Registered Users Benefits
                    </h4>
                    <p class="text-gray-500 dark:text-gray-300 mb-5">
                        Unlock exclusive features, free support, and access to all our free products and services. 
                    </p>
                
                    <div class="flex flex-col gap-3 md:gap-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    Free Support
                                </span> 
                                via Email and Discord (3k+ members) and the <a href="{% url 'create_support_ticket' %}">ticketing system</a>
                            </p>            
                        </div>
                    </div>

                    <div class="flex flex-col gap-3 md:gap-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    Support Priority:
                                </span> 
                                 Monday-Friday, 10-18 EET, with a response time up to 8h delay.   
                            </p>            
                        </div>
                    </div>      
                    
                    <div class="flex flex-col gap-3 md:gap-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white">
                                    <a href="{% url 'tool_django_generator' %}">Django Generator</a>
                                </span>             
                                Unlimited starters, (not all customization features available).
                            </p>            
                        </div>
                    </div>     
                    
                    <div class="flex flex-col gap-3 md:gap-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    Unlimited Access and Downloads
                                </span>             
                                to all our <a href="{% url 'products' %}?free=True">Free Products</a>                 
                            </p>            
                        </div>
                    </div>                      

                </div>
                <div class="hidden md:block w-px self-stretch bg-gray-300"></div>
                <div class="basis-1/5">
                    <div class="w-full flex justify-center">
                        <a href="{% url 'signin' %}" class="flex items-center gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 focus:outline-none mb-10">
                            One-Click SignIn
                            <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            -->
            {% endif %}

            <!-- PRO Subscription -->
            <div id="pro-subscription" class="mb-5 border border-gray-200 p-5 rounded-lg flex items-center gap-16">

                <div class="basis-3/5">
                    <h4 class="text-gray-900 dark:text-white font-bold text-xl mb-3">Pro Subscription</h4>
                    <p class="text-gray-500 dark:text-gray-300 mb-5">
                        Here are the benefits: 
                    </p>
                    
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white">
                                    <a target="_blank" href="{% url 'onboarding' %}">Onboarding Kit</a>
                                </span>             
                                - Premium Dashboards, Dynamic Django Tool, and eCommerce CMS included - <a target="_blank" href="{% url 'onboarding' %}">See Details</a>
                            </p>            
                        </div>
                    </div>  

                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    Unlock a New Premium Starter at each 4mo
                                </span> (Personal License)
                            </p>            
                        </div>
                    </div>                       
                
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    Premium Support
                                </span> 
                                 - Monday-Sunday, 3h response time. 
                            </p>            
                        </div>
                    </div>  
                    
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white">
                                    <a href="/tools/django-generator/">Django Generator</a>
                                </span>             
                                Unlimited starters, all features available. 
                            </p>            
                        </div>
                    </div>                      

                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white">
                                    <a href="/tools/csv-processor/">CSV Processor</a>
                                </span>             
                                Full access (all features).
                            </p>            
                        </div>
                    </div>     
                    
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white">
                                    <a href="/tools/db-migrator/">DataBase Migrator</a>
                                </span>             
                                Full access (all features).
                            </p>            
                        </div>
                    </div>     
                    
                    <div class="flex flex-col gap-3 md:gap-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white">
                                    <a href="/tools/db-processor/">DataBase Processor</a>
                                </span>             
                                Full access (all features).
                            </p>            
                        </div>
                    </div>                         

                </div>
                <div class="hidden md:block w-px self-stretch bg-gray-300"></div>
                <div class="basis-1/5 w-full flex flex-col items-center ">
                    <div class="mb-5 text-center w-full">
                        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white mb-3">
                            ${{ price_subscription_pro }}/mo
                        </h2>
                        <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">Monthly subscription (cancel anytime)</p>
                    </div>
                    <a href="https://appseed.gumroad.com/l/pro-subscription" class="mb-5 text-white w-full inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Subscribe
                        <svg class="w-5 h-5 text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                        </svg>                  
                    </a>
                    <div class="text-center w-full">
                        <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">
                            Payment Secured by</p>
                        <img class="block mx-auto" src="{% static "dist/img/gumroad.png" %}" alt="">
                    </div>
                </div>
            </div>

            <!-- COMPANY Subscription -->
            <div id="company-subscription" class="mb-5 border border-gray-200 p-5 rounded-lg flex items-center gap-16">
                
                <div class="basis-3/5">
                    <h4 class="text-gray-900 dark:text-white font-bold text-xl mb-3">Company Subscription</h4>
                    <p class="text-gray-500 dark:text-gray-300 mb-5">
                        <strong>All benefits included in the PRO Subscription</strong>, plus:
                    </p>
                    
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    Deployment (CI/CD) for AWS, Azure, DO, and Render
                                </span> 
                            </p>            
                        </div>
                    </div>                       
                
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    On-premise Deployment (your server)
                                </span>                                 
                            </p>            
                        </div>
                    </div>  
                    
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                All packages include CI/CD Scripts for GitHub, BitBucket 
                            </p>            
                        </div>
                    </div> 



                </div>
                <div class="hidden md:block w-px self-stretch bg-gray-300"></div>
                <div class="basis-1/5 w-full flex flex-col items-center ">
                    <div class="mb-5 text-center w-full">
                        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white mb-3">
                            ${{ price_subscription_company }}/mo
                        </h2>
                        <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">Monthly subscription (cancel anytime)</p>
                    </div>
                    <a href="https://appseed.gumroad.com/l/company-subscription" class="mb-5 text-white w-full inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Subscribe
                        <svg class="w-5 h-5 text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                        </svg>                  
                    </a>
                    <div class="text-center w-full">
                        <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">
                            Payment Secured by</p>
                        <img class="block mx-auto" src="{% static "dist/img/gumroad.png" %}" alt="">
                    </div>
                </div>
            </div>

            <!-- Onboarding Kit -->
            <div id="onboarding-kit" class="mb-5 border border-gray-200 p-5 rounded-lg flex items-center gap-16">

                <div class="basis-3/5">
                    <h4 class="text-gray-900 dark:text-white font-bold text-xl mb-3">
                        <a href="{% url 'onboarding' %}">Onboarding Kit for Developers</a>
                    </h4>
                    <p class="text-gray-500 dark:text-gray-300 mb-5">
                        Premium starters and Dev Tools for students, solo-developers and companies.
                    </p>
                    
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    4 Premium Dashboards 
                                </span> (Personal License) - Lifetime Access
                            </p>            
                        </div>
                    </div>             
                
                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    Dynamic Django
                                </span> - Generate APIs, DataTables and Charts without coding
                            </p>            
                        </div>
                    </div>  

                    <div class="flex flex-col gap-3 md:gap-3 mb-3">
                        <div class="flex items-start gap-2">
                            <div class="bg-primary-100 rounded-full p-0.5">
                                <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                                </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">
                                    Rocket eCommerce
                                </span> - Stripe, Discounts page, SEO, Analytics
                            </p>            
                        </div>
                    </div>                      

                </div>
                <div class="hidden md:block w-px self-stretch bg-gray-300"></div>
                <div class="basis-1/5 w-full flex flex-col items-center ">
                    <div class="mb-5 text-center w-full">
                        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white mb-3">
                            ${{ price_onboarding_kit }}
                        </h2>
                        <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">One-time payment</p>
                    </div>
                    <a href="{% url 'onboarding' %}" class="mb-5 text-white w-full inline-flex items-center justify-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        See Details
                        <svg class="w-5 h-5 text-white ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                        </svg>                  
                    </a>
                    <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">
                        
                    </p>
                </div>
            </div>

            <div id="custom-development" class="mb-5 border border-gray-200 p-5 rounded-lg flex items-center gap-16">
                <div class="basis-3/5">
                    <h4 class="text-gray-900 dark:text-white font-bold text-xl mb-3">
                        Custom Development - ${{ price_cust_dev_hour }} hourly fee.
                    </h4>
                    <p class="text-gray-500 dark:text-gray-300 mb-5">
                        Our team uses modern technologies to help you build, scale or customize anything from SaaS tools to eCommerce platforms and interactive Admin Panels. 
                    </p>
                
                    <div class="flex flex-col gap-3 md:gap-3">

                        <div class="flex items-center gap-2">
                            <div class="bg-primary-100 rounded-full p-1">
                              <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                              </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">No upfront payment</span>, Weekly billing cycle for worked hours
                            </p>
                        </div>

                        <div class="flex items-center gap-2">
                            <div class="bg-primary-100 rounded-full p-1">
                              <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                              </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                                <span class="text-gray-900 dark:text-white font-bold">Premium Starter Included</span> (Company License) at your choice
                            </p>
                        </div>
                
                        <div class="flex items-center gap-2">
                            <div class="bg-primary-100 rounded-full p-1">
                              <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                              </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                              <span class="text-gray-900 dark:text-white font-bold">Go LIVE Assistance</span> for AWS, Digital Ocean, GCP, or Render
                            </p>
                        </div>          
                
                        <div class="flex items-center gap-2">
                            <div class="bg-primary-100 rounded-full p-1">
                              <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
                              </svg>
                            </div>
                            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
                              <span class="text-gray-900 dark:text-white font-bold">Premium Support</span> via email and Discord
                            </p>            
                        </div>                      
                       
                    </div>
                </div>
                <div class="hidden md:block w-px self-stretch bg-gray-300"></div>
                <div class="basis-1/5 w-full flex flex-col items-center ">
                    <div class="mb-5 text-center w-full">
                        <h2 class="text-3xl md:text-4xl font-bold text-gray-900 dark:text-white mb-3">
                            ${{ price_cust_dev_hour }}
                        </h2>
                        <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">
                            Hourly fee
                        </p>
                    </div>
                    <a href="/custom-development/#custom-development" class="flex items-center gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 focus:outline-none">
                        Contact Us
                        <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
                        </svg>  
                    </a>
                </div>
            </div>

            <div id="license">
                <h4 class="text-gray-900 dark:text-white font-bold text-xl mb-3">License</h4>
                <div class="text-gray-500 dark:text-gray-300">
                    <p class="mb-3">
                        Unless otherwise stated, <strong>App-Generator</strong> and/or its licensors own the intellectual property rights for all material on <strong>App-Generator</strong>. 
                        All intellectual property rights are reserved. You may access this from App-Generator for your own personal use subjected to restrictions set in these terms and conditions.
                    </p>
                    <p class="mb-1">You must not:</p>
                    <ul class="mb-3 pl-5">
                        <li class="mb-1 list-disc">
                            Republish material from <strong>App-Generator</strong>
                        </li>
                        <li class="mb-1 list-disc">
                            Sell, rent or sub-license material from <strong>App-Generator</strong>
                        </li>
                        <li class="mb-1 list-disc">
                            Reproduce, duplicate or copy material from <strong>App-Generator</strong>
                        </li>
                        <li class="mb-1 list-disc">
                            Redistribute content from <strong>App-Generator</strong>
                        </li>
                    </ul>
                    <p class="">
                        Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. 
                        <br /><br />
                        <strong>App-Generator</strong> does not filter, edit, publish or review Comments prior to their presence on the website. 
                        <br />
                        Comments do not reflect the views and opinions of <strong>App-Generator</strong>, its agents and/or affiliates. 
                        <br />
                        Comments reflect the views and opinions of the person who post their views and opinions. 
                        <br /><br />
                        To the extent permitted by applicable laws, <strong>App-Generator</strong> shall not be liable for the Comments or for any liability, 
                        damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
                        <br />
                        <br />
                        For more information please contact <a href="{% url 'support' %}">support</a> or just send an email to <strong> support [ @ ] appseed.us </strong>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock content %}

{% block extra_js %}

<script>
    const items = document.querySelectorAll('[data-target]');

    function handleScroll() {
        const scrollPosition = window.scrollY + window.innerHeight / 2;

        items.forEach(item => {
            const targetId = item.getAttribute('data-target');
            const targetElement = document.querySelector(`#${targetId}`);

            if (targetElement) {
                const targetPosition = targetElement.offsetTop;
                const targetHeight = targetElement.offsetHeight;

                if (scrollPosition >= targetPosition && scrollPosition < targetPosition + targetHeight) {
                    item.classList.add('active');
                } else {
                    item.classList.remove('active');
                }
            }
        });
    }

    window.addEventListener('scroll', handleScroll);
    
</script>

{% endblock extra_js %}