{% load static %}

    <div class="mb-5 mt-10">

        <h3 class="text-gray-900 dark:text-white font-bold text-xl md:text-2xl mb-3 text-center">
            <a class="" href="{% url "discounts" %}">Discounts</a>
        </h3>
        <p class="text-gray-900 dark:text-white text-base md:text-lg text-center mb-10">
            Discounted production-ready starters and services for students, and companies built on top of premium design kits.
        </p>

        <div id="products" class="max-w-7xl mx-auto py-10 px-3 md:px-0">
          
            <div class="mb-16">

              <div class="grid grid-cols-3 gap-10">

                <div class="md:col-span-2 col-span-3 grid grid-cols-2 gap-8">

                  {% for product in discounted_products %}
                  <div class="md:col-span-1 col-span-2 mb-5">
                    <div class="relative bg-white shadow-lg rounded-lg group mb-5">
                      <img src="/static/product/{{ product.design }}/{{ product.tech1 }}/top.png" alt="" class="rounded-lg">
                      <div class="absolute inset-0 bg-black bg-opacity-50 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-lg"></div>
                      <button 
                        class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <a href="/discounts/" class="px-4 py-2 bg-white text-gray-900 font-medium rounded ">
                          See Discounts
                        </a>
                      </button>
                    </div>
                    <div class="">
                      <div class="flex justify-between items-center mb-2">
                        <h4 class="font-bold">
                          <a class="text-gray-900 dark:text-white hover:text-gray-900" href="/discounts/">{{ product.name }}</a>
                        </h4>
                        <p class="text-gray-700 dark:text-gray-300 font-bold">
                          <strong>${{ product.price }}</strong>
                        </p>
                      </div>
                      <p class="text-gray-500 dark:text-gray-300 text-sm">
                        {{ product.card_info }}
                      </p>
                    </div>
                  </div>
                  {% endfor %}
                </div>

                <div class="md:col-span-1 col-span-3 bg-white flex flex-col justify-center shadow-lg rounded-lg p-10">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6028FF" width="50">
                    <path fill-rule="evenodd"
                      d="M2.25 4.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875V17.25a4.5 4.5 0 1 1-9 0V4.125Zm4.5 14.25a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z"
                      clip-rule="evenodd"></path>
                    <path
                      d="M10.719 21.75h9.156c1.036 0 1.875-.84 1.875-1.875v-5.25c0-1.036-.84-1.875-1.875-1.875h-.14l-8.742 8.743c-.09.089-.18.175-.274.257ZM12.738 17.625l6.474-6.474a1.875 1.875 0 0 0 0-2.651L15.5 4.787a1.875 1.875 0 0 0-2.651 0l-.1.099V17.25c0 .126-.003.251-.01.375Z">
                    </path>
                  </svg>
                  <h1 class="text-5xl font-bold my-5">
                    Our most popular <br /> premium Starters
                  </h1>
                  <p class="text-gray-700 text-lg mb-10">
                    <a href="/discounts/">See all Discounts</a>
                  </p>
                </div>
              </div>
            </div>

            {% include "includes/component-custom-development.html" %}
        
          </div>

    </div>
