{% load static %}
 
  <!-- Custom Development -->
  <section class="max-w-screen-xl mx-3 md:mx-auto border border-gray-200 dark:border-gray-700 rounded-lg p-3 md:p-8 flex justify-between gap-10 mb-10 shadow-md flex-col md:flex-row">
    <div class="basis-1/2	">
      <h5 class="text-gray-900 dark:text-white font-bold text-xl md:text-2xl mb-3">
        Custom Development - $899/week (40 working hours).
      </h5>
      <p class="text-gray-500 dark:text-gray-300 font-normal text-sm md:text-base mb-3">
        <strong>Need help coding an MVP or a Complete Solution?</strong> We are here to help
      </p>
      <div>
        <div class="flex flex-col gap-3 md:gap-2">

          <div class="flex items-center gap-2">
            <div class="bg-primary-100 rounded-full p-1">
              <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
              </svg>
            </div>
            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
              <span class="text-gray-900 dark:text-white font-bold">No upfront payment</span>, Weekly billing cycle for worked hours
            </p>
          </div>

          <div class="flex items-center gap-2">
            <div class="bg-primary-100 rounded-full p-1">
              <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
              </svg>
            </div>
            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
              <span class="text-gray-900 dark:text-white font-bold">Premium Starter Included</span> (Company License) at your choice
            </p>
          </div>

          <div class="flex items-center gap-2">
            <div class="bg-primary-100 rounded-full p-1">
              <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
              </svg>
            </div>
            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
              <span class="text-gray-900 dark:text-white font-bold">Go LIVE Assistance</span> for AWS, Digital Ocean, GCP, or Render
            </p>
          </div>          

          <div class="flex items-center gap-2">
            <div class="bg-primary-100 rounded-full p-1">
              <svg class="w-5 h-5 text-primary-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11.917 9.724 16.5 19 7.5"/>
              </svg>
            </div>
            <p class="text-gray-500 dark:text-gray-300 text-sm md:text-base">
              <span class="text-gray-900 dark:text-white font-bold">Premium Support</span> via email and Discord
            </p>            
          </div>

        </div>
      </div>
    </div>
    <div class="hidden md:block w-px h-auto bg-gray-300"></div>
    <div class="basis-1/2	flex flex-col justify-center">
      <div class="flex items-center justify-between mb-10">

        <div>
          <h2 class="text-xl md:text-3xl font-bold text-gray-900 dark:text-white mb-3">5years</h2>
          <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">Company founded in 2019</p>
        </div>

        <div>
          <h2 class="text-xl md:text-3xl font-bold text-gray-900 dark:text-white mb-3">100%</h2>
          <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">Client Satisfaction</p>
        </div>

        <div>
          <h2 class="text-xl md:text-3xl font-bold text-gray-900 dark:text-white mb-3">24/7</h2>
          <p class="text-gray-500 dark:text-gray-300 text-xs md:text-sm">Development Support</p>
        </div>

      </div>
      <div class="flex justify-center">
        <a href="{% url 'custom_development' %}#custom-development" class="flex items-center gap-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 focus:outline-none">
          Submit Quotation
          <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
          </svg>  
        </a>
      </div>
      
    </div>
  </section>
