{% load static %}

<div class="grid grid-cols-3 gap-10 p-10 py-14 rounded-lg shadow-lg mb-16">
    <div class="md:col-span-2 col-span-3">
        <h2 class="text-3xl font-black my-5">
            Dynamic Django
        </h2>
        <p class="text-gray-700 text-medium text-lg mb-10">
            <strong>Build APIs, DataTables and Charts without coding.</strong>
            <br />
            This tool aims to simplify the data processing and consolidation via generated APIs, DataTables, Charts and CLI tools - <a href="/docs/developer-tools/dynamic-django/index.html">Read Documentation</a>.
        </p>
        <div>
            <a href="https://dynamic-django.onrender.com/" 
               target="_blank" 
               class="text-white hover:text-white bg-gray-900 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-3 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
               See Demo</a> 
               Price <strike><span class="text-blue-600">$198</span></strike>
        </div>
    </div>
    <div class="md:col-span-1 col-span-3">
        <img src="{% static 'product/dynamic-services/django/top.png' %}" alt="" class="rounded-lg">
    </div>
  </div>
