{% load static %}
 
<li class="flex items-center space-x-3">
  <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
  <span class="text-gray-900 dark:text-white font-semibold">All in Personal License, plus:</span>
</li>
<li class="flex items-center space-x-3">
  <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
  <span class="text-gray-900 dark:text-white">
      <a target="_blank" href="{% url 'onboarding' %}">Onboarding Kit</a>: PRO Starters, Tools
  </span>
</li>
<li class="flex items-center space-x-3">
  <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
  <span class="text-gray-900 dark:text-white font-semibold">
      A New <a target="_blank" href="/product/?search=pro">Premium Starter</a> at each 6mo.
  </span>
</li>
<li class="flex items-center space-x-3">
  <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
  <span class="text-gray-900 dark:text-white">
      <a target="_blank" href="/tools/django-generator/">Django Generator</a> - Unlimited starters
  </span>
</li>
<li class="flex items-center space-x-3">
  <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
  <span class="text-gray-900 dark:text-white">
      <a target="_blank" href="/tools/flask-generator/">Flask Generator</a> - Unlimited starters
  </span>
</li>
<li class="flex items-center space-x-3">
  <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
  <span class="text-gray-900 dark:text-white">
      <a target="_blank" href="/tools/csv-processor/">CSV Processor</a>
  </span>
</li>       
<li class="flex items-center space-x-3">
  <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
  <span class="text-gray-900 dark:text-white">
      <a target="_blank" href="/tools/db-migrator/">DataBase Migrator</a>
  </span>
</li>        
<li class="flex items-center space-x-3">
  <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
  <span class="text-gray-900 dark:text-white">
      <a target="_blank" href="/tools/db-processor/">DataBase Processor</a>
  </span>
</li>
