{% load static %}
 
<div class="bg-black flex flex-col justify-center items-center py-16 md:px-20 px-5 rounded-lg shadow-lg">
    <h3 class="text-white text-3xl mb-5 text-center">
        Onboarding Kit Special Offer
    </h3>
    <h6 class="text-white text-2xl mb-10 text-center">
        Bundle includes dev tools, production-ready starters and high priority on support.
    </h6>
    <a href="{% url 'onboarding' %}" class="flex items-center gap-2 text-white hover:text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 focus:outline-none mb-5">
        See what's included
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
        </svg>
    </a>
    <span class="text-white mt-4">
        4 Premium Dashboards, one eCommerce Starter integrated with Stripe and Dynamic Django that allows to build APIs, DataTables and Charts without coding. 
    </span>
</div>
 