{% load static %}
 
<div class="bg-black flex flex-col justify-center items-center py-16 md:px-20 px-5 rounded-lg shadow-lg">
    <h3 class="text-white text-3xl mb-5 text-center">
        Go PRO with only ${{ price_subscription_pro }}/mo
    </h3>
    <p class="text-white mb-10 text-center">
        Unlock a New Premium Starter at each 4mo, 
        <u><a href="{% url 'onboarding' %}">Onboarding Kit</a></u>
        included and full access to all our tools: Django Generator, CSV Processor, DB Migrator and Processor. 
    </p>
    <a href="https://appseed.gumroad.com/l/pro-subscription" class="flex items-center gap-2 text-white hover:text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 focus:outline-none mb-5">
        Subscribe - ${{ price_subscription_pro }}/mo
    </a>
    <span class="text-white mt-4">
        For more information access the <a href="/terms/">pricing page</a> or contact <a href="/ticket/create/">support</a>. 
    </span>
</div>
