{% load static %}

<li class="flex items-center space-x-3">
    <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    <span class="text-gray-900 dark:text-white">
            <a target="_blank" href="https://www.hostg.xyz/aff_c?offer_id=6&aff_id=207452">Hosting and Site Builder</a>
    </span>
</li>
<li class="flex items-center space-x-3">
    <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    <span class="text-gray-900 dark:text-white">
        <a target="_blank" href="https://www.hostg.xyz/aff_c?offer_id=6&aff_id=207452&url_id=4652">N8N (Ai Workflows)</a>
    </span>
</li>
<li class="flex items-center space-x-3">
    <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    <span class="text-gray-900 dark:text-white">
        <a target="_blank" href="https://www.hostg.xyz/aff_c?offer_id=6&aff_id=207452&url_id=2949">Site Builder</a>
    </span>
</li>
<li class="flex items-center space-x-3">
    <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    <span class="text-gray-900 dark:text-white">
        <a target="_blank" href="https://www.hostg.xyz/aff_c?offer_id=6&aff_id=207452&url_id=17">Cloud Hosting (StarUps)</a>
    </span>
</li>       
<li class="flex items-center space-x-3">
    <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
    <span class="text-gray-900 dark:text-white">
        <a target="_blank" href="https://www.hostg.xyz/aff_c?offer_id=815&aff_id=207452&url_id=5254">Get Free Domain</a>
    </span>
</li>        