<div class="max-w-screen-xl mx-3 md:mx-auto grid grid-cols-2 mb-16">
    <div class="col-span-1 w-3/5">
        <h2 class="text-gray-900 dark:text-white text-4xl font-bold mb-5">
            FAQ
        </h2>
        <p class="text-gray-500 dark:text-gray-300">
            Search for the questions that are frequently asked about.
        </p>
    </div>
    <div class="col-span-1">
        <div id="accordion-collapse" class="" data-accordion="collapse">
            <h2 id="accordion-collapse-heading-1">
                <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
                    <span>
                        How does support work?
                    </span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                    </svg>
                </button>
            </h2>
            <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                <div class="p-5 border-b border-gray-200">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                        We are aware of the importance of well qualified support, that is why we decided that support will only be provided by the authors that actually worked on this project.                
                    </p>
                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                        You can <a href="{% url 'support' %}">contact us</a> anytime via the official email, <a href="{% url 'create_support_ticket' %}">tracking system</a> and LIVE on Discord 
                        <strong>(for authenticated users)</strong>
                    </p>
                    
                </div>
            </div>

            <h2 id="accordion-collapse-heading-2">
                <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
                    <span>
                        Where can I access my download files
                    </span>
                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                    </svg>
                </button>
            </h2>
            <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                <div class="p-5 border-b border-gray-200">
                    <p class="mb-2 text-gray-500 dark:text-gray-400">
                        All downloads are available on your dashboard using these links:
                        <br />
                        <ul>
                            <li>
                                &bull; <a href="{% url 'free_downloads' %}">Free Downloads</a> Index
                            </li> 
                            <li>
                                &bull; <a href="{% url 'paid_downloads' %}">Paid Downloads</a> Index
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>