<div class="my-5">
    {% for tech1, tech2_group in grouped_products.items %}
        <h2 class="text-2xl font-semibold mb-3 uppercase">{{ tech1 }}</h2>
        {% for tech2, products in tech2_group.items %}
            <h3 class="text-xl font-medium">{{ tech2 }}</h3>
            {% if products %}
            <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6 my-3">
                {% for product in products %}
                    <div class="rounded-3xl p-4 md:p-6 border-2">
                        <div class="relative rounded-2xl aspect-[4/3] overflow-hidden">
                            <a href="{% url "products_by_tech1" product.design_system tech1 %}">
                                {% if product.thumbnail %}
                                <img src="{{ product.thumbnail.url }}"
                                    alt="{{ product.name }}"
                                    width="100%"
                                    height="auto"
                                    class="w-full aspect-[4/3] object-cover hover:scale-105 transition-transform duration-150 ease-in-out" />
                                
                                {% endif %}
                            </a>
                        </div>
                        <div class="pt-3.5">
                            <div class="text-sm flex items-center text-blue-500">
                                <span>{{ product.created_at|date:"d F Y" }}</span>
                            </div>
                            <h2 class="font-semibold text-gray-800 line-clamp-2 text-ellipsis overflow-hidden my-3">
                                <a href="#"
                                class="text-gray-800">{{ product.name }}</a>
                            </h2>
                            <p class="text-sm line-clamp-2 text-ellipsis overflow-hidden mb-3">{{ product.info }}</p>
                            <div class="flex items-center justify-between">
                                <a href="{% url "products_by_tech1" product.design_system tech1 %}"
                                class="text-sm hover:underline">Show more</a>
                                <a href="{% url "update_product" product.slug %}" class="text-sm hover:underline">Edit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="flex items-center justify-center w-full h-64 my-8">
                <p class="text-gray-600">No products found</p>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>