{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page_title }} | App Generator</title>

<meta name="author"      content="Made by RoSoft | https://rosoftware.ro/">
<meta name="description" content="{{ page_info }}">
<meta name="keywords"    content="{{ page_keywords }}">

<link rel="canonical" href="https://app-generator.dev/{{ page_canonical }}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link rel="icon" type="image/png" href="{% static "common/favicon.ico" %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "common/apple-icon.png" %}">

<link rel="shortcut icon" type="image/x-icon" href="{% static "common/favicon-196x196.png" %}" sizes="196x196" />
<link rel="shortcut icon" type="image/x-icon" href="{% static "common/favicon-160x160.png" %}" sizes="160x160" />
<link rel="shortcut icon" type="image/x-icon" href="{% static "common/favicon-96x96.png" %}"   sizes="96x96"   />
<link rel="shortcut icon" type="image/x-icon" href="{% static "common/favicon-16x16.png" %}"   sizes="16x16"   />
<link rel="shortcut icon" type="image/x-icon" href="{% static "common/favicon-32x32.png" %}"   sizes="32x32"   />      

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/js/all.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'dist/main.css' %}">

<script>
  if (localStorage.getItem('color-theme') === 'dark') {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }
</script>