{% load i18n %}
<div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
    {{ field.label }}
    {% if field.field.required %}<span class="text-red-600">*</span>{% endif %}
</div>
<label id="thumbnail_label" for="id_thumbnail"
       class=" {% if article.thumbnail %} hidden {% else %} flex {% endif %} relative flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100 dark:bg-gray-700">
    <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <svg class="w-8 h-8 mb-4 text-gray-500"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 20 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
        </svg>
        <p class="mb-2 text-sm text-gray-500">
            <span class="font-semibold">{% blocktrans %} Click to upload</span> or drag and drop {% endblocktrans %}
        </p>
        <p class="text-xs text-gray-500">{% translate "PNG, JPG or GIF" %}</p>
    </div>
    {{ field }}
</label>
<p class="mt-2 text-sm text-red-600">
    <span id="error_message"
          for="{{ field.id_for_label|lower }}"
          class="font-medium">{{ field.errors }}</span>
</p>

<div id="preview-container" class="{% if article.thumbnail %} block {% else %} hidden {% endif %}">
    {% if article.thumbnail.file.url %}
    <img id="imagePreview" class="w-full h-64 object-cover rounded-lg mb-3" src="{{ article.thumbnail.file.url }}" alt="" />
    {% else %}
    <img id="imagePreview" class="w-full h-64 object-cover rounded-lg mb-3" src="#" alt="" />
    {% endif %}
    <a id="removePreview" class="block w-full bg-red-600 text-center py-2 rounded-lg text-white" href="#">Remove</a>
</div>