<!-- Newsletter -->
<section class="bg-gray-50 p-3 md:p-8 flex flex-col items-center mb-10">
    <h4 class="text-gray-900 font-bold text-base md:text-xl mb-3 text-center md:text-left">Stay Updated with the Latest Tech Insights</h4>
    <div class="mb-5 text-center text-sm md:text-base">
        <p class="text-gray-500">Get expert tips, tutorials, and the latest updates on Flask, Django, Python, and more—delivered</p>
        <p class="text-gray-500">straight to your inbox!</p>
    </div>

    <form method="post" action="{% url "newsletter" %}" class="flex items-center max-w-sm mx-auto">   
        {% csrf_token %}

        <label for="email" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/>
                </svg>
            </div>
            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-9 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your email" required />
        </div>
        <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Subscribe
        </button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <p class="mt-2 text-sm">{{ message }}</p>
        {% endfor %}
    {% endif %}
</section>