.tableWrapper {
  margin-bottom: 30px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  text-align: left;
}

.styled-table thead {
  background-color: #ddd;
}
