{% extends "layouts/base-horizontal.html" %}
{% load static embed_url %}

{% block content %}

<div class="relative pt-4 pb-6 max-w-screen-lg mx-auto">
    <header>
        {% if user.email == article.created_by.email or user.is_staff %}
            <div class="text-left pb-2">
                <a onclick="#" class="w-fit cursor-pointer">Edit Article</a>
            </div>
        {% endif %}
        <div class="flex items-center gap-4">
            <h1 class="text-3xl md:text-4xl font-semibold md:!leading-tight flex-1">{{ article.title }}</h1>

            <a href="{% url "add_bookmark" article.slug %}"
                    class="hover:scale-105 transition-all"
                    title="Bookmark (read later)">
                {% if is_bookmarked %}
                    <svg class="w-8 h-8 text-gray-800"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="currentColor"
                            viewBox="0 0 24 24">
                        <path d="M7.833 2c-.507 0-.98.216-1.318.576A1.92 1.92 0 0 0 6 3.89V21a1 1 0 0 0 1.625.78L12 18.28l4.375 3.5A1 1 0 0 0 18 21V3.889c0-.481-.178-.954-.515-1.313A1.808 1.808 0 0 0 16.167 2H7.833Z" />
                    </svg>
                {% else %}
                    <svg class="w-8 h-8 text-gray-800"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m17 21-5-4-5 4V3.889a.92.92 0 0 1 .244-.629.808.808 0 0 1 .59-.26h8.333a.81.81 0 0 1 .589.26.92.92 0 0 1 .244.63V21Z" />
                    </svg>
                {% endif %}
            </a>

        </div>
        {% if tags %}
            <div class="flex items-center flex-wrap gap-3 mt-4">
                {% for tag in tags %}
                    <a href="{% url "filter_by_tags" tag.slug %}"
                       class="bg-gray-200 hover:bg-gray-300 !text-gray-600 px-2.5 py-1 rounded-md text-sm">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
        <div class="flex items-center mt-6">
            <a href="#">
                {% if article.created_by.profile.avatar %}
                <img class="w-12 h-12 object-cover object-center rounded-full"
                     width="48"
                     height="48"
                     src="{{ article.created_by.profile.avatar.url }}"
                     alt="{{ article.created_by.username }}'s avatar"
                >
                {% else %}
                <img class="w-12 h-12 object-cover object-center rounded-full"
                     width="48"
                     height="48"
                     src="{% static "dist/img/default-user.png" %}"
                     alt="{{ article.created_by.username }}'s avatar"
                >
                {% endif %}
            </a>
            <div class="ml-3 flex flex-col items-start">
                <h4 class="text-lg font-semibold">
                    <a href="#" class="hover:underline text-gray-900"> 
                        {% if article.created_by.profile.full_name %}
                        {{ article.created_by.profile.full_name }}
                        {% else %}
                        {{ article.created_by.username }}
                        {% endif %}
                    </a>
                </h4>
                <span class="text-gray-600 text-sm">{{ article.created_at|date:"F d, Y" }}</span>
            </div>
        </div>
    </header>
    <main>
        <div class="my-8 overflow-hidden w-full rounded-lg">
            {% comment %} <img src="{{ article.thumbnail.file.url }}"
                 alt="{{ article.title }}"
                 width="100%"
                 height="100%"
                 class="w-full h-full object-cover object-center aspect-video"> {% endcomment %}
            
            {% if article.video.url %}
                <div class="aspect-video overflow-hidden object-cover object-center w-full rounded-lg">
                    <iframe 
                        width="100%"
                        height="100%"
                        src="{{ article.video.url|to_embed_url }}"
                        title="YouTube video player"
                        frameborder="0"
                        id="article_video"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen
                    ></iframe>
                </div>
            {% endif %}
        </div>
        <div class="prose max-w-full">{{ article.content.html|safe }}</div>
    </main>
</div>

<div class="mt-12">
    <div class="mb-4 flex items-center justify-between">
        <h3 class="text-2xl font-semibold text-gray-900">Another blog</h3>
        <a href="{% url 'blog' %}" class="text-sm hover:underline">See all</a>
    </div>
    {% include "includes/blog-list.html" %}
</div>


{% endblock content %}


{% block extra_js %}


{% endblock extra_js %}