{% extends "layouts/base.html" %}
{% load static %}

{% block content %}


<main>
    <div class="px-4 pt-6">
        <section class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
                    <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Blog</h2>
                    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>
                </div> 
                <div class="grid gap-8 lg:grid-cols-2">
                    {% for blog in articles %}
                    <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                        <div class="flex justify-between items-center mb-5 text-gray-500">
                            <div>
                                {% for tag in blog.tags.all %}
                                <a href="{% url "filter_by_tags" tag.slug %}" class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                                    {{ tag.name }}
                                </a>
                                {% endfor %}
                            </div>
                            <span class="text-sm">
                                {{blog.published_at|timesince}}
                            </span>
                        </div>
                        <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <a href="{% url "blog_detail" blog.slug %}">{{ blog.title }}</a>
                        </h2>
                        <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                            {{ blog.subtitle|slice:"200" }}
                            {% if blog.subtitle|length > 200 %}
                            ...
                            {% endif %}
                        </p>
                        <div class="flex justify-between items-center">
                            <div class="flex items-center space-x-4">
                                {% if blog.created_by.profile.avatar %}
                                    <img class="w-7 h-7 rounded-full" src="{{ blog.created_by.profile.avatar.url }}" alt="{{blog.created_by.username}} photo">
                                {% else %}
                                    <img class="w-7 h-7 rounded-full" src="{% static "dist/img/default-user.png" %}" alt="{{blog.created_by.username}} photo">
                                {% endif %}
                                <span class="font-medium dark:text-white">
                                    {{ blog.created_by.username }}
                                </span>
                            </div>
                            <a href="{% url "blog_detail" blog.slug %}" class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline">
                                Read more
                                <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </a>
                        </div>
                    </article> 
                    {% endfor %}
                </div>  
            </div>
          </section>
    </div>
</main>


{% endblock content %}