{% extends "layouts/base.html" %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static "dist/jquery.multi-select.css" %}">
{% endblock extrastyle %}

{% block content %}

<div class="m-5 px-6 py-8 bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-800 rounded-lg overflow-hidden">
    <h2 class="text-2xl font-bold pb-3 dark:text-white pb-6">Freelancers</h2>
    <form class="flex items-center max-w-sm mx-auto mb-8">
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-2xl">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 18 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2" />
                </svg>
            </div>
            <input type="text"
                   id="simple-search"
                   value="{{ request.GET.search }}"
                   name="search"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Search..." />
            {% if request.GET.search %}
                <div class="absolute inset-y-0 right-0 flex items-center ps-3">
                    <svg onclick="clearSearch()"
                         class="w-5 h-5 text-white dark:text-gray-800 mr-1"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         fill="none"
                         viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                    </svg>
                </div>
            {% endif %}
        </div>
        <button type="submit"
                class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-4 h-4"
                 aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
            <span class="sr-only">Search</span>
        </button>
    </form>

    <div class="relative overflow-x-auto">
        {% if freelancers %}
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Country</th>
                    <th scope="col" class="px-6 py-3">Created at</th>
                    <th scope="col" class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for freelancer in freelancers %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <a href="{% if freelancer.public_profile %} {% url "profile_detail" freelancer.user.username %} {% endif %}"> {% if freelancer.full_name %} {{ freelancer.full_name }} {% else %} {{ freelancer.user }} {% endif %} </a>
                        </th>
                        <td class="px-6 py-4">{{ freelancer.country|default_if_none:"" }}</td>
                        <td class="px-6 py-4">{{ freelancer.created_at|date }}</td>
                        <td class="px-6 py-4">
                            <button 
                                type="button" 
                                data-modal-target="invite-freelancer-{{ freelancer.id }}" 
                                data-modal-toggle="invite-freelancer-{{ freelancer.id }}"
                                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2 me-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                            >
                                Invite
                            </button>

                            <!-- Invite freelancer modal -->
                            <div id="invite-freelancer-{{ freelancer.id }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-2xl max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                                Invite Freelancer
                                            </h3>
                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="invite-freelancer-{{ freelancer.id }}">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>
                                        
                                        <div class="p-4 md:p-5 space-y-4">
                                            <form action="{% url "invite_freelancer" freelancer.id %}" method="post">
                                                {% csrf_token %}
                                
                                                <div class="grid grid-cols-6 gap-6">
                                                    <div class="col-span-6">
                                                        <label for="team" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Team</label>
                                                        <select name="team" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="team">
                                                            {% for team in teams %}
                                                                <option value="{{ team.id }}">{{ team.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-span-6">
                                                        <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Role</label>
                                                        <select name="role" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" id="role">
                                                            {% for value, label in roles %}
                                                                <option value="{{ value }}">{{ label }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-span-6 sm:col-full">
                                                        <button class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="submit">Invite</button>
                                                    </div>
                                                </div>
                                                
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="flex items-center justify-center w-full h-64 my-8">
                <p class="text-gray-600">No freelancers found</p>
            </div>
        {% endif %}
    </div>
</div>



{% endblock content %}


{% block extra_js %}

<script src="{% static "dist/js/clear-search.js" %}"></script>
<script src="{% static "dist/js/jquery-2.2.4.min.js" %}"></script>
<script src="{% static "dist/js/jquery.multi-select.min.js" %}"></script>
<script>
    $('#members').multiSelect({
        'noneText':'Select members',
    });
</script>

{% endblock extra_js %}