{% load static %}

<section class="bg-white dark:bg-gray-900">
    <div class="flex justify-center items-center gap-2">
        <p class="text-gray-500 dark:text-gray-300">Payment secured by</p>
        <img src="{% static "dist/img/gumroad.png" %}" alt="">
    </div> 
    <div class="px-4 mx-auto max-w-screen-xl px-6">
        <div class="grid grid-cols-3 gap-8 mb-10">
            <div class="col-span-3 md:col-span-1 flex flex-col p-6 text-gray-900 dark:text-white bg-white rounded-lg border border-gray-400 shadow-md dark:border-gray-200 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-gray-500 dark:text-gray-300 text-xl font-medium">Personal License (most popular)</h3>
                <div class="flex items-center mb-4">
                    <!--
                    <span class="mr-2 text-3xl text-gray-900 dark:text-white font-semibold line-through	">$29</span>
                    -->
                    <span class="mr-2 text-3xl text-gray-500 dark:text-gray-300 font-semibold">${{ product.price }}</span>
                </div>
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-900 dark:text-white font-semibold">Personal License</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Updates: 6mo</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Single End-product</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">OAuth - Github</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Extended User Profile</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">DataTables</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Celery (async tasks)</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">File Manager</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-gray-500 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300 line-through">Paying end-users (SaaS)</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <span class="text-gray-500 dark:text-gray-300">&nbsp;</span>
                    </li> 
                </ul>
                <a href="{{ product.pay_url }}/{{ props.PROMO_COUPON|default:'' }}" 
                    class="gumroad text-white bg-primary-600 hover:text-white hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">
                    Purchase - ${{ product.price }}</a>

                <span class="text-center mt-2 text-gray-500">
                    (discount already applied)
                </span>              
            </div>

            <div class="col-span-3 md:col-span-1 flex flex-col p-6 text-gray-900 dark:text-white bg-white rounded-lg border border-gray-100 shadow-md dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-gray-500 dark:text-gray-300 text-xl font-medium">Company License</h3>
                <div class="flex items-center mb-4">
                    <!--
                    <span class="mr-2 text-3xl text-gray-900 dark:text-white font-semibold line-through	">$199</span>
                    -->
                    <span class="mr-2 text-3xl text-gray-500 dark:text-gray-300 font-semibold">${{ product.price2 }}</span>
                </div>
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-900 dark:text-white font-semibold">Company License</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Lifetime Updates</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Unlimited End-Products</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">OAuth - Github</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Extended User Profile</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">DataTables</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Celery (async tasks)</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">File Manager</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <svg class="flex-shrink-0 w-5 h-5 text-white bg-primary-700 rounded-full p-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                        <span class="text-gray-500 dark:text-gray-300">Paying end-users (SaaS)</span>
                    </li>
                    <li class="flex items-center space-x-3">
                        <span class="text-gray-500 dark:text-gray-300">&nbsp;</span>
                    </li> 
                </ul>
                <a href="{{ product.pay_url2 }}/{{ props.PROMO_COUPON|default:'' }}" 
                    class="text-white bg-primary-600 hover:text-white hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:text-white  dark:focus:ring-primary-900">
                    Purchase - ${{ product.price2 }}</a>

                <span class="text-center mt-2 text-gray-500">
                    (discount already applied)
                </span>              
            </div>

            <div class="col-span-3 md:col-span-1 flex flex-col p-6 text-gray-900 dark:text-white bg-white rounded-lg border border-gray-100 shadow-md dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white">
                <h3 class="mb-4 text-gray-500 dark:text-gray-300 text-xl font-medium">
                    <a class="text-primary-500 hover:underline" target="_blank" href="https://www.hostg.xyz/aff_c?offer_id=6&aff_id=207452">Get Hosting</a>
                    - provided by Hostinger
                </h3>
                <div class="flex items-center mb-3">
                    <span class="mr-2 text-3xl text-gray-900 dark:text-white font-semibold">${{ 2.99 }}/mo</span>
                </div>
                <ul role="list" class="mb-8 space-y-4 text-left">

                    {% include "includes/component-hosting-items.html" %}

                    <li class="flex items-center space-x-3">
                        <span class="text-gray-500 dark:text-gray-300">&nbsp;</span>
                    </li>         
                    <li class="flex items-center space-x-3">
                        <span class="text-gray-500 dark:text-gray-300">&nbsp;</span>
                    </li>       
                    <li class="flex items-center space-x-3">
                        <span class="text-gray-500 dark:text-gray-300">&nbsp;</span>
                    </li>  
                    <li class="flex items-center space-x-3">
                        <span class="text-gray-500 dark:text-gray-300">&nbsp;</span>
                    </li>  
                </ul>                
                <a href="https://www.hostg.xyz/aff_c?offer_id=6&aff_id=207452" target="_blank"
                   class="">
                   <img class="w-36 h-18 mx-auto" src="https://d7h9v39iheghu.cloudfront.net/previews/da691f97-99cf-45a2-885d-1e5357ee3d49/4078cc81-0fbc-4a3e-83ab-b890e551414c/4078cc81-0fbc-4a3e-83ab-b890e551414c/324x324.jpg?Policy=eyJTdGF0ZW1lbnQiOiBbeyJSZXNvdXJjZSI6Imh0dHBzOi8vZDdoOXYzOWloZWdodS5jbG91ZGZyb250Lm5ldC9wcmV2aWV3cy9kYTY5MWY5Ny05OWNmLTQ1YTItODg1ZC0xZTUzNTdlZTNkNDkqIiwiQ29uZGl0aW9uIjp7IkRhdGVMZXNzVGhhbiI6eyJBV1M6RXBvY2hUaW1lIjoxNzYwMzI2MTI2fX19XX0_&Signature=MW8jruWCCpoxW~cvXFzUd6CwUxmALtA6VGuLlxviNuk~1pX3Y3Jyz8URXyU05IAXucF~1JEfrHnIHEoMiaTvozkgBqD7ex28AFpLekEnEP7sx5VhXNCdZGW9XvDrmgx1pST1uNGLEoU~qhg~hceoBBfJOMoHH1-Hstxb8Xe0rHjsH91eZoK~WlX9TYo~3FgreVKkuv~ThRQgB8bhC-mOgoknvaBbsi2ClLwSBmVd13~YrrhETKO76FTfKasAmR4-TRH0QVGEawqOWwD70R~zpWkFgfpPpvPS5rwXxLSbnhoBCJb7zo-uzZ-qYALeKT41~eRgv6VdJRMF6w0cRIbjng__&Key-Pair-Id=APKAJXJN6VNR3OLZJXJA" alt="" />
                </a>
                <span class="text-center mt-2 text-gray-500">
                    (monthly subscription - cancel anytime)
                </span>                 
            </div>
            
        </div>
    </div>
</section>

{% include "includes/component-custom-development.html" %}
