.container {
  width: 100%;
  margin: 20px auto;
}

.header {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
}

.dropdown {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.upload-link {
  position: relative;
  display: inline-block;
}

.upload-label {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-left: 10px;
}

.hidden-input {
  display: none;
}

h3 {
  margin-top: 20px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 5px;
}

.submit-section {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #ffffff;
}

.download-button {
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: 1px solid;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
  margin-bottom: 10px;
}
