{% load static custom_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% if google_tag %}
    {% include "includes/analytics.html" %}
  {% endif %}
  <meta name="google-site-verification" content="EtXV-RjJPvOzjyJL8MPdHiNQDZnoFBt-87HRdYuJJuE" />
  {% include "includes/head.html" %}
  {% include "django_quill/media.html" %}
  {% block extrastyle %}{% endblock extrastyle %}
</head>

<body class="bg-white dark:bg-gray-900">
  
  <div 
    style="background-image: url('{% static "dist/img/bg.png" %}');"
    class="pb-36 relative mb-10 bg-white dark:bg-gray-900"
  >

    <!-- Navbar -->
    {% include "includes/navigation-landing.html" %}

    <div class="flex justify-center flex-col items-center mx-3 md:mx-0">

      <div class="text-center mb-8 md:mb-12">
        <h1 class="text-2xl md:text-3xl text-white font-extrabold	mb-5">
            Premium Rocket Bundle
        </h1>
        <p class="text-white text-base md:text-lg">
            Production-ready starters and services for students, solo-developers and companies built on top of {{ design_label }} Concept. 
        </p>
        <p class="text-white text-base md:text-lg">
          Rocket Concept bundles the best starters built with modern technologies on top of a Tailwind/Flowbite. 
          <br />
          The bundle includes Rocket Django PRO, Rocket Flask PRO, Rocket eCommerce and Dynamic Django.    
        </p>  
      </div>
      
    <a href="#products" class="flex items-center gap-2 text-white hover:text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 focus:outline-none mb-10">
        See what's included
        <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
        </svg>
    </a>

      <div class="flex items-center gap-5 mb-12">
        <div class="flex">
          <img class="w-8 h-8 rounded-full border border-gray-600" src="{% static "common/technologies/django.png" %}" alt="">
          <img class="w-8 h-8 rounded-full border border-gray-600 -ml-2" src="{% static "common/technologies/js.png" %}" %}" alt="">
          <img class="w-8 h-8 rounded-full border border-gray-600 -ml-2" src="{% static "common/technologies/docker.png" %}" alt="">
          <img class="w-8 h-8 rounded-full border border-gray-600 -ml-2" src="{% static "common/technologies/tailwind.png" %}" alt="">
        </div>
        <div class="w-0.5 h-8 bg-gray-700"></div>
        <div class="text-white">
          <p class="text-sm">
            Only <span class="text-blue-600">${{ price_bundle2 }}</span> for all Starters and Tools 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="products" class="max-w-7xl mx-auto py-10 px-3 md:px-0">

    {{ 'product/rocket-pro/django/'|h_product_banner|safe }}   

    <div class="mb-16">
        <h3 class="text-2xl font-semibold text-gray-800 mb-5">
            Premium tools and starters. Order and <span class="text-blue-600">Save 60%</span>.
        </h3>
        <div class="grid grid-cols-3 gap-10">
            <div class="md:col-span-2 col-span-3 grid grid-cols-2 gap-8">

                {{ 'product/rocket-pro/flask/'|h_product_card|safe }}

                {{ 'product/datta-able-pro/django/'|h_product_card|safe }}

                {{ 'product/adminlte-pro/django/'|h_product_card|safe }}

                {{ 'product/adminlte-pro/flask/'|h_product_card|safe }}                     
                                
                {{ 'product/berry-dashboard-pro/django/'|h_product_card|safe }}

                {{ 'product/berry-dashboard-pro/flask/'|h_product_card|safe }}             

            </div>

            <div class="md:col-span-1 col-span-3 bg-white flex flex-col justify-center shadow-lg rounded-lg p-10">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6028FF" width="50">
                    <path fill-rule="evenodd" d="M2.25 4.125c0-1.036.84-1.875 1.875-1.875h5.25c1.036 0 1.875.84 1.875 1.875V17.25a4.5 4.5 0 1 1-9 0V4.125Zm4.5 14.25a1.125 1.125 0 1 0 0-2.25 1.125 1.125 0 0 0 0 2.25Z" clip-rule="evenodd"></path>
                    <path d="M10.719 21.75h9.156c1.036 0 1.875-.84 1.875-1.875v-5.25c0-1.036-.84-1.875-1.875-1.875h-.14l-8.742 8.743c-.09.089-.18.175-.274.257ZM12.738 17.625l6.474-6.474a1.875 1.875 0 0 0 0-2.651L15.5 4.787a1.875 1.875 0 0 0-2.651 0l-.1.099V17.25c0 .126-.003.251-.01.375Z"></path>
                </svg>
                <h1 class="text-3xl font-bold my-5">
                    Our most popular <br /> <span class="text-blue-500">{{ design_label }}</span> <br /> premium starters
                </h1>
                <p class="text-gray-700 text-lg mb-10">
                  Start fast any kind of project: 
                  <strong>Presentation Websites, Analytics and even eCommerce Projects</strong>. 
                </p>
            </div>
        </div>
    </div>

    {{ 'product/rocket-ecommerce/django/'|h_product_banner|safe }}

    {% include "includes/component-dynamic-django-banner.html" %}

    <div class="bg-black flex flex-col justify-center items-center py-16 md:px-20 px-5 rounded-lg shadow-lg">
        <h3 class="text-white text-3xl mb-10 text-center">
          Order Premium Rocket Bundle
        </h3>
        <h6 class="text-white text-2xl mb-10 text-center">
            The payment unlocks Lifetime Access to all starters and premium support.
        </h6>
        <a href="https://appseed.gumroad.com/l/bundle-rocket/{{ props.PROMO_COUPON|default:'' }}" 
                class="gumroad text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-bold rounded-full text-lg px-16 py-4 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
             Pay ${{ price_bundle2 }}
        </a>
        <span class="text-white mt-4">
            Save up to <span class="text-blue-500">60%</span> and start fast.
        </span>
    </div>

</div>

  {% include "includes/newsletter.html" %}

  {% include "includes/footer2.html" %}

  {% include "includes/scripts.html" %}

  <script>

  </script>  

</body>
</html>