{% extends "layouts/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "dist/jquery.multi-select.css" %}">
{% endblock extrastyle %}

{% block messages %}
    {% if messages %}
        <div class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 ">
            {% for message in messages %}
            <div id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                    </svg>
                    <span class="sr-only">Check icon</span>
                </div>
                <div class="ms-3 text-sm font-normal">{{message}}</div>
                <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                </button>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock messages %}

{% block content %}

<form method="post"
    id="create-product"
    class="max-w-5xl mx-auto my-5 bg-white dark:bg-gray-800 p-5 rounded-xl border border-gray-200 dark:border-gray-700"
    enctype="multipart/form-data"
>
    <div class="flex items-center justify-between">
        <h2 class="text-2xl font-bold pb-3 dark:text-white">Create Product</h2>
    </div>
    {% csrf_token %}
    <div class="grid grid-cols-2 gap-4 py-6">
        
        {% for field in form %}
            {% if field.label|lower == "thumbnail" %}
                <div class="col-span-2">{% include "includes/image-input.html" with field=field %}</div>
            {% elif "video" in field.label|lower %}
                <div class="col-span-2">
                    <label for="{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                    {{ field }}
                </div>
                <div id="video-preview-container" class="hidden col-span-2">
                    <iframe id="videoPreview" class="w-full h-80 object-cover rounded-lg mb-3" src="#" frameborder="0" allowfullscreen></iframe>
                </div>
            {% elif field.label|lower == "free" %}
                <div class="flex items-center">
                    {{ field }}
                    <label for="id_{{ field.name }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ field.label }}</label>
                </div>
            {% else %}
            <div id="div_{{ field.name }}" class="col-span-2">
                <label for="{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                {{ field }}
                <span class="block text-red-800 mt-2 text-sm">{{ field.errors }}</span>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="z-10 flex justify-between items-center gap-4">
        <button type="button"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5">
            Cancel
        </button>
        <div class="flex items-center">
            <button id="publishSubmitButton"
                    type="submit"
                    class="hidden md:flex text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none items-center justify-center gap-2 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500">
                Create
            </button>
        </div>
    </div>
    
</form>

{% endblock content %}

{% block extra_js %}

<script src="{% static "dist/js/preview-input.js" %}"></script>

<script src="{% static "dist/js/jquery-2.2.4.min.js" %}"></script>
<script src="{% static "dist/js/jquery.multi-select.min.js" %}"></script>

<script>
    $('#id_tags').multiSelect({
        'noneText':'Select tags',
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        initVideoPreview('id_url_video', 'video-preview-container', 'videoPreview');

        var freeCheckbox = document.getElementById('id_free');
        var payUrlsDiv = document.getElementById('div_pay_url');
        var payUrls2Div = document.getElementById('div_pay_url2');
        var priceDiv = document.getElementById('div_price');
        var price2Div = document.getElementById('div_price2');

        function togglePayUrls() {
            if (freeCheckbox.checked) {
                payUrlsDiv.classList.add('hidden');
                payUrls2Div.classList.add('hidden');
                priceDiv.classList.add('hidden');
                price2Div.classList.add('hidden');
            } else {
                payUrlsDiv.classList.remove('hidden');
                payUrls2Div.classList.remove('hidden');
                priceDiv.classList.remove('hidden');
                price2Div.classList.remove('hidden');
            }
        }

        togglePayUrls();
        freeCheckbox.addEventListener('change', togglePayUrls);
    });

</script>

{% endblock extra_js %}