{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<form method="post" class="max-w-5xl mx-auto my-5 bg-white dark:bg-gray-800 p-5 rounded-lg" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="text-2xl font-bold pb-3 dark:text-white">Update Blog</h2>
    <div class="grid grid-cols-2 gap-4 py-6">
        {{ form.media }}
        {% for field in form %}
            {% if field.label|lower == "thumbnail" %}
                <div class="w-full col-span-2">
                    <img class="w-full h-40 rounded-xl object-cover" src="{{ article.thumbnail.url }}" alt="">
                </div>
                <div class="col-span-2">
                    <label for="{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% else %}
                <div class="col-span-2">
                    <label for="{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="flex items-center py-4 md:py-5 border-t border-gray-200 rounded-b dark:border-gray-600">
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
        <a href="#" type="button" class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Cancel</a>
    </div>
</form>


{% endblock content %}