{% extends "layouts/base-dashboard.html" %}
{% load static %}

{% block content %}

<div class="px-4 pt-6">

    <div class="grid grid-cols-3 gap-1">

        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="usersChart"></div>
        </div>

        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="generatedAppsChart"></div>
        </div>

        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="downloadsChart"></div>
        </div>

        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="csvProcessChart"></div>
        </div>

        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="dbMigrateChart"></div>
        </div>

        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="dbProcessChart"></div>
        </div>

    </div>

    <div class="grid grid-cols-1 gap-5">

        <!-- Sign Ups -->
        <div class="col-span-1 bg-white p-5 shadow mt-4 rounded-lg">
            <h5 class="font-semibold text-sm mb-2 text-gray-700">Latest Sign Ups</h5>
            <div class="relative overflow-x-auto">
                {% if last_sign_ups %}
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">User</th>
                            <th scope="col" class="px-6 py-3">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in last_sign_ups %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ user.date_joined }}
                                </th>
                                <td class="px-6 py-4">
                                    <a class="underline" target="_blank" href="https://github.com/{{ user.username }}">{{ user.username }}</a>
                                </td>
                                <td class="px-6 py-4"> {{ user.email }} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="flex items-center justify-center w-full h-64 my-8">
                    <p class="text-gray-600">No sign ups in last 10 days</p>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Generated Apps -->
        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <h5 class="font-semibold text-sm text-gray-700">Latest Generated Apps</h5>
            <div class="relative overflow-x-auto">
                {% if last_generated_apps %}
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">User</th>
                            <th scope="col" class="px-6 py-3">Result</th>
                            <th scope="col" class="px-6 py-3">State</th>
                            <th scope="col" class="px-6 py-3">Repository Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for app in last_generated_apps %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ app.generated_at }}
                                </th>
                                <td class="px-6 py-4">
                                    {% if app.user %}
                                        <a class="underline" target="_blank" href="https://github.com/{{ app.user.username }}">{{ app.user.username }}</a>
                                    {% else %}
                                        Guest - {{ app.user_ip }}
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4">{{ app.task_result }}</td>
                                <td class="px-6 py-4">{{ app.task_state }}</td>
                                <td class="px-6 py-4">
                                    {% if app.gh_repo %}
                                        <a class="underline" href="{{ app.gh_repo }}">{{ app.gh_repo }}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="flex items-center justify-center w-full h-64 my-8">
                    <p class="text-gray-600">No generated apps found</p>
                </div>
                {% endif %}
            </div>
        </div>
                
        <!-- Downloads -->
        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <h5 class="font-semibold text-sm mb-2 text-gray-700">Latest Downloads</h5>
            <div class="relative overflow-x-auto">
                {% if last_downloads %}
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">User</th>
                            <th scope="col" class="px-6 py-3">Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for download in last_downloads %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ download.downloaded_at }}
                                </th>
                                <td class="px-6 py-4">
                                    <a class="underline" target="_blank" href="https://github.com/{{ download.user.username }}">{{ download.user.username }}</a>
                                </td>
                                <td class="px-6 py-4">{{ download.product.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="flex items-center justify-center w-full h-64 my-8">
                    <p class="text-gray-600">No downloads found in last 10 days</p>
                </div>
                {% endif %}
            </div>
        </div>

    </div>    

</div>

{% endblock content %}


{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.54.1/dist/apexcharts.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const baseChartOptions = {
            chart: {
                height: 350,
                type: 'line',
                zoom: { enabled: false }
            },
            dataLabels: { enabled: false },
            stroke: { curve: 'smooth' },
            xaxis: {
                title: { text: 'Date' }
            },
            yaxis: {
                title: { text: '' }
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'],
                    opacity: 0.5
                }
            }
        };

        const chartData = [
            {
                selector: "#downloadsChart",
                title: "Downloads (Last 30 Days)",
                total: {{ downloads_chart_data.total }},
                yAxisTitle: "Number of Downloads",
                seriesName: "Downloads",
                data: {{ downloads_chart_data.counts|safe }},
                categories: {{ downloads_chart_data.dates|safe }}
            },
            {
                selector: "#usersChart",
                title: "New Sign UPs (Last 30 Days)",
                total: {{ users_chart_data.total }},
                yAxisTitle: "Number of Users",
                seriesName: "Users Created",
                data: {{ users_chart_data.counts|safe }},
                categories: {{ users_chart_data.dates|safe }}
            },
            {
                selector: "#generatedAppsChart",
                title: "Generated Apps (Last 30 Days)",
                total: {{ generated_apps_chart_data.total }},
                yAxisTitle: "Number of Generated Apps",
                seriesName: "Apps Generated",
                data: {{ generated_apps_chart_data.counts|safe }},
                categories: {{ generated_apps_chart_data.dates|safe }}
            },
            {
                selector: "#csvProcessChart",
                title: "CSV Processed (Last 30 Days)",
                total: {{ csv_processor_chart_data.total }},
                yAxisTitle: "Number of CSV Processed",
                seriesName: "CSV Processed",
                data: {{ csv_processor_chart_data.counts|safe }},
                categories: {{ csv_processor_chart_data.dates|safe }}
            },
            {
                selector: "#dbMigrateChart",
                title: "DB Migrated (Last 30 Days)",
                total: {{ db_migrator_chart_data.total }},
                yAxisTitle: "Number of DB Migrated",
                seriesName: "DB Migrated",
                data: {{ db_migrator_chart_data.counts|safe }},
                categories: {{ db_migrator_chart_data.dates|safe }}
            },
            {
                selector: "#dbProcessChart",
                title: "DB Processed (Last 30 Days)",
                total: {{ db_processor_chart_data.total }},
                yAxisTitle: "Number of DB Processed",
                seriesName: "DB Processed",
                data: {{ db_processor_chart_data.counts|safe }},
                categories: {{ db_processor_chart_data.dates|safe }}
            }
        ];

        chartData.forEach(chart => {
            const options = {
                ...baseChartOptions,
                series: [{ name: chart.seriesName, data: chart.data }],
                title: { text: `${chart.title}, Total=${chart.total}`, align: 'left' },
                xaxis: { ...baseChartOptions.xaxis, categories: chart.categories },
                yaxis: { ...baseChartOptions.yaxis, title: { text: chart.yAxisTitle } }
            };

            const apexChart = new ApexCharts(document.querySelector(chart.selector), options);
            apexChart.render();
        });
    });
</script>

{% endblock extra_js %}
