{% extends "layouts/base-dashboard.html" %}
{% load static %}

{% block content %}

<div class="px-4 pt-6">

    <div class="grid grid-cols-3 gap-5">

        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="downloadsChart"></div>
        </div>
        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="usersChart"></div>
        </div>

        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="generatedAppsChart"></div>
        </div>

    </div>

    <div class="grid grid-cols-1 gap-5">

        <!-- Downloads -->
        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <h5 class="font-semibold text-sm mb-4 text-gray-700">Latest Downloads</h5>
            <div class="relative overflow-x-auto">
                {% if last_10_downloads %}
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">User</th>
                            <th scope="col" class="px-6 py-3">Product</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for download in last_10_downloads %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ download.downloaded_at }}
                                </th>
                                <td class="px-6 py-4">
                                    <a class="underline" target="_blank" href="https://github.com/{{ download.username }}">{{ download.username }}</a>
                                </td>
                                <td class="px-6 py-4">{{ download.product.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="flex items-center justify-center w-full h-64 my-8">
                    <p class="text-gray-600">No downloads found in last 10 days</p>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Sign Ups -->
        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <h5 class="font-semibold text-sm mb-4 text-gray-700">latest Sign Ups</h5>
            <div class="relative overflow-x-auto">
                {% if last_10_sign_ups %}
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">User</th>
                            <th scope="col" class="px-6 py-3">Github Profile</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in last_10_sign_ups %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ user.date_joined }}
                                </th>
                                <td class="px-6 py-4"> {{ user.username }} </td>
                                <td class="px-6 py-4">
                                    <a class="underline" target="_blank" href="https://github.com/{{ user.username }}">Profile</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="flex items-center justify-center w-full h-64 my-8">
                    <p class="text-gray-600">No sign ups in last 10 days</p>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Generated Apps -->
        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <h5 class="font-semibold text-sm mb-4 text-gray-700">Latest Generated Apps</h5>
            <div class="relative overflow-x-auto">
                {% if last_10_generated_apps %}
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">User</th>
                            <th scope="col" class="px-6 py-3">Status</th>
                            <th scope="col" class="px-6 py-3">Repository Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for app in last_10_generated_apps %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{ app.generated_at }}
                                </th>
                                <td class="px-6 py-4">
                                    {% if app.user %}
                                        <a class="underline" target="_blank" href="https://github.com/{{ app.user.username }}">{{ app.user.username }}</a>
                                    {% else %}
                                        Guest - {{ app.user_ip }}
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4">{{ app.task_result }}</td>
                                <td class="px-6 py-4">
                                    <a class="underline" href="{{ app.gh_repo }}">{{ app.gh_repo }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="flex items-center justify-center w-full h-64 my-8">
                    <p class="text-gray-600">No generated apps found</p>
                </div>
                {% endif %}
            </div>
        </div>

    </div>    

</div>

{% endblock content %}


{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.54.1/dist/apexcharts.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Downloads Chart
        var downloadsOptions = {
            series: [{
                name: "Downloads",
                data: {{ downloads_chart_data.counts|safe }}
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: 'Downloads (Last 30 Days), Total=' + {{ downloads_chart_data.total }},
                align: 'left'
            },
            xaxis: {
                categories: {{ downloads_chart_data.dates|safe }},
                title: {
                    text: 'Date'
                }
            },
            yaxis: {
                title: {
                    text: 'Number of Downloads'
                }
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'],
                    opacity: 0.5
                },
            },
        };

        var downloadsChart = new ApexCharts(document.querySelector("#downloadsChart"), downloadsOptions);
        downloadsChart.render();


        var usersOptions = {
            series: [{
                name: "Users Created",
                data: {{ users_chart_data.counts|safe }}
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: 'New Sign UPs (Last 30 Days), Total=' + {{ users_chart_data.total }},
                align: 'left'
            },
            xaxis: {
                categories: {{ users_chart_data.dates|safe }},
                title: {
                    text: 'Date'
                }
            },
            yaxis: {
                title: {
                    text: 'Number of Users'
                }
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'],
                    opacity: 0.5
                },
            },
        };

        var usersChart = new ApexCharts(document.querySelector("#usersChart"), usersOptions);
        usersChart.render();


        var generatedAppsOptions = {
            series: [{
                name: "Apps Generated",
                data: {{ generated_apps_chart_data.counts|safe }}
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: 'Generated Apps (Last 30 Days), Total=' + {{ generated_apps_chart_data.total }},
                align: 'left'
            },
            xaxis: {
                categories: {{ generated_apps_chart_data.dates|safe }},
                title: {
                    text: 'Date'
                }
            },
            yaxis: {
                title: {
                    text: 'Number of Generated Apps'
                }
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'],
                    opacity: 0.5
                },
            },
        };

        var generatedAppsChart = new ApexCharts(document.querySelector("#generatedAppsChart"), generatedAppsOptions);
        generatedAppsChart.render();
    });
</script>

{% endblock extra_js %}
