{% extends "layouts/base-dashboard.html" %}
{% load static %}

{% block content %}

<div class="px-4 pt-6">
    <div class="grid grid-cols-2 gap-5">
        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="downloadsChart"></div>
        </div>
        <div class="col-span-1 bg-white p-5 shadow rounded-lg">
            <div id="usersChart"></div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts@3.54.1/dist/apexcharts.min.js"></script>
{% endblock scripts %}

{% block extra_js %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Downloads Chart
        var downloadsOptions = {
            series: [{
                name: "Downloads",
                data: {{ downloads_chart_data.counts|safe }}
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: 'Downloads (Last 30 Days), Total=' + {{ downloads_chart_data.total }},
                align: 'left'
            },
            xaxis: {
                categories: {{ downloads_chart_data.dates|safe }},
                title: {
                    text: 'Date'
                }
            },
            yaxis: {
                title: {
                    text: 'Number of Downloads'
                }
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'],
                    opacity: 0.5
                },
            },
        };

        var downloadsChart = new ApexCharts(document.querySelector("#downloadsChart"), downloadsOptions);
        downloadsChart.render();


        var usersOptions = {
            series: [{
                name: "Users Created",
                data: {{ users_chart_data.counts|safe }}
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'smooth'
            },
            title: {
                text: 'New Sign UPs (Last 30 Days), Total=' + {{ users_chart_data.total }},
                align: 'left'
            },
            xaxis: {
                categories: {{ users_chart_data.dates|safe }},
                title: {
                    text: 'Date'
                }
            },
            yaxis: {
                title: {
                    text: 'Number of Users'
                }
            },
            grid: {
                row: {
                    colors: ['#f3f3f3', 'transparent'],
                    opacity: 0.5
                },
            },
        };

        var usersChart = new ApexCharts(document.querySelector("#usersChart"), usersOptions);
        usersChart.render();
    });
</script>

{% endblock extra_js %}
